@{
    ViewBag.Title = "Accessories2";
    Layout = "~/Views/Shared/New_Layout.cshtml";
}

@section HeadScript_Link{


    <script>
        var o = navigator.userAgent,
        r = function (r) {
            return o.indexOf(r) > -1
        };
        if ((r("Android") && r("Mobile") || r("iPhone") || r("iPod") || r("Symbian") || r("IEMobile") || r("MI PAD"))) {
            location.href = "http://m.niu.com/store/detail/";
        }
    </script>

    <!--[if lt IE 9]>
        <script src="//store.niucache.com/static/common/static/common/lib/html5shiv_23e126e6.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="//store.niucache.com/static/common/common_6c4817c9.css" />
    <link rel="stylesheet" href="//store.niucache.com/static/common/static/niucontrol/niucontrol_06eac47d.css" />
    <link rel="stylesheet" href="//store.niucache.com/static/store/widget/store/detail/index_7f533c99.css" />
    <link rel="stylesheet" href="//store.niucache.com/static/store/widget/widgets/productImgView/productImgView_00d88acb.css" />
}

@section HeadLink{

    <link rel="stylesheet" id="header_links" type="text/css" href="//store.niucache.com/static/common/widget/header2/style_6965f5af.css" />
    }
@section Body{

    <!--[if lt IE 9]>
    <script>
    (function(w){
      var doc = w.document, docElem = doc.documentElement,
        head = doc.getElementsByTagName("head")[0] || docElem,
        linkEle = doc.getElementById('header_links');
        linkEle.parentNode.removeChild(linkEle);
        head.insertBefore(linkEle,head.lastChild);
    })(window);
    </script>
    <script src="//store.niucache.com/static/common/static/common/lib/respond_b890fb80.js"></script>
    <![endif]-->








    <section class="storeDetail">
        <div class="storeDetail-intro">
            <article class="storeDetail-intro-view J_bigImgBlock">


                <article class="storeDetail-intro-view J_bigImgBlock">
                    <div class="storeDetail-intro-view-bigImg">
                        <ul>

                            <li>
                                <div class="img-box" style='padding: 1px;'>
                                    <img src="https://img.niucache.com/CFBD849A76E84B209CC477019CB203BB.jpg" alt="" />
                                </div>
                            </li>

                            <li>
                                <div class="img-box" style='padding: 1px;'>
                                    <img src="https://img.niucache.com/464C0350FCC44FC6A29CD486221CE56F.jpg" alt="" />
                                </div>
                            </li>

                            <li>
                                <div class="img-box" style='padding: 1px;'>
                                    <img src="https://img.niucache.com/CE55B1DD6B3C47D782E382123BE5EDEA.jpg" alt="" />
                                </div>
                            </li>

                            <li>
                                <div class="img-box" style='padding: 1px;'>
                                    <img src="https://img.niucache.com/DE98EA749A084B7AB9B3D4D1C5A4CF11.jpg" alt="" />
                                </div>
                            </li>

                        </ul>
                    </div>
                </article>


            </article>
            <article class="storeDetail-intro-options">
                <p class="name" id="productName">NIU 冬季防寒骑行护膝</p>
                <div class="countBox">
                    <div class="selectOption clearfix">
                        <p class="optionTit">价格</p>
                        <dl class="countBox-price clearfix">


                            <dd class="J_storeDetailPrice">￥329</dd>



                        </dl>
                    </div>

                    <div class="selectOption clearfix js-option">
                        <p class="optionTit">颜色</p>
                        <dl class="J_optionContent0 optionBorder clearfix" data-option="颜色">

                            <dd data-option="颜色" class="J_storeDetailOptions optionList">黑</dd>

                        </dl>
                    </div>


                    <div class="selectNum clearfix">
                        <p class="selectNumTit">数量</p>
                        <div class="numBox">
                            <span class="J_subQty">-</span>
                            <input class="J_qty" type="text" value="1" />
                            <span class="J_addQty">+</span>
                        </div>
                    </div>
                </div>
                <div class="J_addCart joinCarBtn disabled">
                    <span class="icon-cart"></span>loading
                </div>
                <div class="storeDetail-intro-options-tips">

                    <p class="tips-title">全场配件满499元包邮。</p>


                    <p>客服电话400-6388-666，周一至周日7:00-21:00</p>
                    <p>(仅收市话费)。</p>

                </div>
            </article>
        </div>
    </section>


    <div id="details">
        <div class="miniNavBorder-innter">
            <div class="miniNavBorder" id="miniNavBorder">
                <ul class="miniNav clearfix">

                    <li class="miniNavList"><a href="#INTRODUCTION">商品介绍</a></li>

                    <li class="miniNavList"><a href="#PARAMETERS">详细参数</a></li>

                    <li class="miniNavList"><a href="#AFTERPOLICY">售后政策</a></li>

                </ul>
            </div>
        </div>

        <ul class="content">

            <li class="active contentList" data-des><a id="INTRODUCTION" name="INTRODUCTION"></a><p><img data-src="https://img.niucache.com/FB43BC46BCF6450B8A7D04938053162C.jpg" title="" alt="" /><img data-src="https://img.niucache.com/87B71D57083F41C281A20B3DBD54C267.jpg" title="" alt="" /><img data-src="https://img.niucache.com/0112733D2E294F38B8DED5BD9444824C.jpg" title="" alt="" /><img data-src="https://img.niucache.com/A7C1DE09183949198C16ED00BE201DB3.jpg" title="" alt="" /><img data-src="https://img.niucache.com/BBEE4F8C95864D9190DA780565D1CF76.jpg" title="" alt="" /><img data-src="https://img.niucache.com/F0792D683BFF4599BB7583E6397119C1.jpg" title="" alt="" /><img data-src="https://img.niucache.com/384B5A12B5184EA2BEE0F9189917EE89.jpg" title="" alt="" /><img data-src="https://img.niucache.com/62DEF17471FA458E9C99F08856BCF0AA.jpg" title="" alt="" /><img data-src="https://img.niucache.com/2EADE85A136340E78F29549865438315.jpg" title="" alt="" /><img data-src="https://img.niucache.com/AC6662617FAA4A03909D8D5F40FF7776.jpg" title="" alt="" /><img data-src="https://img.niucache.com/1D37A07A8055465EB005D6156454471F.jpg" title="" alt="" /></p></li>

            <li class="active contentList" data-des><a id="PARAMETERS" name="PARAMETERS"></a></li>

            <li class="active contentList" data-des><a id="AFTERPOLICY" name="AFTERPOLICY"></a><p><img data-src="https://img.niucache.com/980BE32C84B345418B7B64A077EF4BE5.jpg" title="" alt="" /></p></li>


        </ul>

    </div>

}


@section FooterLink_Script{


    <script type="text/javascript" src="//dn-bughd-web.qbox.me/bughd.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        window.bughd = window.bughd || function () { };
        bughd("create", { key: "ec0399cd9efd19e4ed66a94c56fd4bc6" });
    </script>
    <script type="text/javascript" src="//store.niucache.com/static/common/common_00b45ee5.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/common/widget/plugin/remote/remote_cdf6d669.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/store/widget/store/cart_05ba30e2.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/store/widget/store/detail/lazyload2_391fdb78.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/store/widget/store/detail/index_694a5f84.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/store/widget/widgets/productImgView/productImgView_28bd4b1f.js"></script>
    <script type="text/javascript">
!function () {

    require.async("common:widget/header2/header.js");
    require.async("common:widget/headerCart/headerCart.js");
    require.async("common:widget/headerUserStatus/headerUserStatus.js");
}();
        !function () {
            require.async("store:widget/widgets/productImgView/productImgView.js");
        }();
        !function () {

            require.async("store:widget/store/detail/index.js", function (pageDetail) {
                pageDetail.init({
                    parent: "J_productImg",
                    urls: ["https://img.niucache.com/CFBD849A76E84B209CC477019CB203BB.jpg", "https://img.niucache.com/464C0350FCC44FC6A29CD486221CE56F.jpg", "https://img.niucache.com/CE55B1DD6B3C47D782E382123BE5EDEA.jpg", "https://img.niucache.com/DE98EA749A084B7AB9B3D4D1C5A4CF11.jpg"],
                    product: { "spuId": 87, "name": "NIU 冬季防寒骑行护膝", "productPriceLowest": 329, "productPriceHighest": 329 },
                    skus: [{ "skuId": 343, "skuNumber": "109102018401", "name": "NIU 冬季保暖骑行护膝", "price": { "salePrice": 329, "retailPrice": 329 }, "fulfillmentType": "SHUNFENG1", "options": { "颜色": "黑" }, "颜色": "黑" }],
                    description: [{ "title": "商品介绍", "descriptionType": "INTRODUCTION", "description": "<p><img data-src=\"https://img.niucache.com/FB43BC46BCF6450B8A7D04938053162C.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/87B71D57083F41C281A20B3DBD54C267.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/0112733D2E294F38B8DED5BD9444824C.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/A7C1DE09183949198C16ED00BE201DB3.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/BBEE4F8C95864D9190DA780565D1CF76.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/F0792D683BFF4599BB7583E6397119C1.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/384B5A12B5184EA2BEE0F9189917EE89.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/62DEF17471FA458E9C99F08856BCF0AA.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/2EADE85A136340E78F29549865438315.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/AC6662617FAA4A03909D8D5F40FF7776.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/1D37A07A8055465EB005D6156454471F.jpg\" title=\"\" alt=\"\"/></p>" }, { "title": "详细参数", "descriptionType": "PARAMETERS", "description": "" }, { "title": "售后政策", "descriptionType": "AFTERPOLICY", "description": "<p><img data-src=\"https://img.niucache.com/980BE32C84B345418B7B64A077EF4BE5.jpg\" title=\"\" alt=\"\"/></p>" }],
                    optionImagesList: { "optionName": "颜色", "defaultList": ["https://img.niucache.com/CFBD849A76E84B209CC477019CB203BB.jpg", "https://img.niucache.com/464C0350FCC44FC6A29CD486221CE56F.jpg", "https://img.niucache.com/CE55B1DD6B3C47D782E382123BE5EDEA.jpg", "https://img.niucache.com/DE98EA749A084B7AB9B3D4D1C5A4CF11.jpg"], "list": { "黑": ["https://img.niucache.com/CFBD849A76E84B209CC477019CB203BB.jpg", "https://img.niucache.com/464C0350FCC44FC6A29CD486221CE56F.jpg", "https://img.niucache.com/CE55B1DD6B3C47D782E382123BE5EDEA.jpg", "https://img.niucache.com/DE98EA749A084B7AB9B3D4D1C5A4CF11.jpg"] } },
                    options: [{ "optionName": "颜色", "optionValues": ["黑"] }],
                    mainOption: "",
                    defaultSku: { "skuId": 343, "skuNumber": "109102018401", "name": "NIU 冬季保暖骑行护膝", "price": { "salePrice": 329, "retailPrice": 329 }, "fulfillmentType": "SHUNFENG1", "options": { "颜色": "黑" }, "颜色": "黑" },
                    ncode: ''
                })
            });
        }();
        !function () {
            require.async("common:widget/footer/footer.js");
        }();</script>
}









<script>
    (function () {
        var domain = 'www.niu.com';
        document.write("<scri" + "pt src='//" + domain + "/api/base/head/' async='async'></sc" + "ript>");
    })();
</script>

<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?2bd5252f20d08f5e7ee0bafd52e1d2cb";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script>
    var _vds = _vds || []; window._vds = _vds; (function () { _vds.push(["setAccountId", "84188db5ccd9510f"]); (function () { var b = document.createElement("script"); b.type = "text/javascript"; b.async = true; b.src = ("https:" == document.location.protocol ? "https://" : "http://") + "dn-growing.qbox.me/vds.js"; var a = document.getElementsByTagName("script")[0]; a.parentNode.insertBefore(b, a) })() })();
</script>



</html>

