@{
    ViewBag.Title = "小牛电动雨衣 － 小牛电动";
    Layout = "~/Views/Shared/New_Layout.cshtml";
}
@section HeadScript_Link{

 <script>
        var o = navigator.userAgent,
        r = function (r) {
            return o.indexOf(r) > -1
        };
        if ((r("Android") && r("Mobile") || r("iPhone") || r("iPod") || r("Symbian") || r("IEMobile") || r("MI PAD"))) {
            location.href = "http://m.niu.com/store/detail/";
        }
    </script>

    <!--[if lt IE 9]>
        <script src="//store.niucache.com/static/common/static/common/lib/html5shiv_23e126e6.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="//store.niucache.com/static/common/common_6c4817c9.css" />
    <link rel="stylesheet" href="//store.niucache.com/static/common/static/niucontrol/niucontrol_06eac47d.css" />
    <link rel="stylesheet" href="//store.niucache.com/static/store/widget/store/detail/index_7f533c99.css" />
    <link rel="stylesheet" href="//store.niucache.com/static/store/widget/widgets/productImgView/productImgView_00d88acb.css" />
}







@section HeadLink{
    <link rel="stylesheet" id="header_links" type="text/css" href="//store.niucache.com/static/common/widget/header2/style_6965f5af.css" />
    }
    <!--[if lt IE 9]>
    <script>
    (function(w){
      var doc = w.document, docElem = doc.documentElement,
        head = doc.getElementsByTagName("head")[0] || docElem,
        linkEle = doc.getElementById('header_links');
        linkEle.parentNode.removeChild(linkEle);
        head.insertBefore(linkEle,head.lastChild);
    })(window);
    </script>
    <script src="//store.niucache.com/static/common/static/common/lib/respond_b890fb80.js"></script>
    <![endif]-->



@section Body{  




    <section class="storeDetail">
        <div class="storeDetail-intro">
            <article class="storeDetail-intro-view J_bigImgBlock">


                <article class="storeDetail-intro-view J_bigImgBlock">
                    <div class="storeDetail-intro-view-bigImg">
                        <ul>

                            <li>
                                <div class="img-box" style='padding: 1px;'>
                                    <img src="https://img.niucache.com/9634C269A9294C68983007D60063EF1D.jpg" alt="" />
                                </div>
                            </li>

                            <li>
                                <div class="img-box" style='padding: 1px;'>
                                    <img src="https://img.niucache.com/44A14CAFA60F4DA09249429EFADA9D80.jpg" alt="" />
                                </div>
                            </li>

                            <li>
                                <div class="img-box" style='padding: 1px;'>
                                    <img src="https://img.niucache.com/3FA46AFDAD504D9B951D4EAF294223F6.jpg" alt="" />
                                </div>
                            </li>

                            <li>
                                <div class="img-box" style='padding: 1px;'>
                                    <img src="https://img.niucache.com/112DC45AF6B149DAA12D0A4082C5C906.jpg" alt="" />
                                </div>
                            </li>

                        </ul>
                    </div>
                </article>


            </article>
            <article class="storeDetail-intro-options">
                <p class="name" id="productName">小牛电动雨衣</p>
                <div class="countBox">
                    <div class="selectOption clearfix">
                        <p class="optionTit">价格</p>
                        <dl class="countBox-price clearfix">


                            <dd class="J_storeDetailPrice">￥199</dd>



                        </dl>
                    </div>

                    <div class="selectOption clearfix js-option">
                        <p class="optionTit">尺码</p>
                        <dl class="J_optionContent0 optionBorder clearfix" data-option="尺码">

                            <dd data-option="尺码" class="J_storeDetailOptions optionList">均码</dd>

                        </dl>
                    </div>


                    <div class="selectNum clearfix">
                        <p class="selectNumTit">数量</p>
                        <div class="numBox">
                            <span class="J_subQty">-</span>
                            <input class="J_qty" type="text" value="1" />
                            <span class="J_addQty">+</span>
                        </div>
                    </div>
                </div>
                <div class="J_addCart joinCarBtn disabled">
                    <span class="icon-cart"></span>loading
                </div>
                <div class="storeDetail-intro-options-tips">

                    <p class="tips-title">全场配件满499元包邮。</p>


                    <p>客服电话400-6388-666，周一至周日7:00-21:00</p>
                    <p>(仅收市话费)。</p>

                </div>
            </article>
        </div>
    </section>


    <div id="details">
        <div class="miniNavBorder-innter">
            <div class="miniNavBorder" id="miniNavBorder">
                <ul class="miniNav clearfix">

                    <li class="miniNavList"><a href="#INTRODUCTION">商品介绍</a></li>

                    <li class="miniNavList"><a href="#PARAMETERS">详细参数</a></li>

                    <li class="miniNavList"><a href="#AFTERPOLICY">售后政策</a></li>

                </ul>
            </div>
        </div>

        <ul class="content">

            <li class="active contentList" data-des><a id="INTRODUCTION" name="INTRODUCTION"></a><p><img data-src="https://img.niucache.com/E6326CC06EB14C148648A778EDB3CF28.jpg" title="" alt="" /><img data-src="https://img.niucache.com/D5CF71872F5C47B2AF02DE9896851510.jpg" title="" alt="" /><img data-src="https://img.niucache.com/C9397C0D47A1412F92BE859179B4FF75.jpg" title="" alt="" /></p></li>

            <li class="active contentList" data-des><a id="PARAMETERS" name="PARAMETERS"></a><p><img data-src="https://img.niucache.com/71387FF1547449F1B9746ECDDFE6ED3B.jpg" title="" alt="" /></p></li>

            <li class="active contentList" data-des><a id="AFTERPOLICY" name="AFTERPOLICY"></a><p><img data-src="https://img.niucache.com/887E6F7225614199A5E44DA719166B6C.jpg" title="" alt="" style="white-space: normal;" /></p></li>


        </ul>

    </div>
    }
@section FooterLink_Script{




  

    <script type="text/javascript" src="//dn-bughd-web.qbox.me/bughd.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        window.bughd = window.bughd || function () { };
        bughd("create", { key: "ec0399cd9efd19e4ed66a94c56fd4bc6" });
    </script>
    <script type="text/javascript" src="//store.niucache.com/static/common/common_00b45ee5.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/common/widget/plugin/remote/remote_cdf6d669.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/store/widget/store/cart_05ba30e2.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/store/widget/store/detail/lazyload2_391fdb78.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/store/widget/store/detail/index_694a5f84.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/store/widget/widgets/productImgView/productImgView_28bd4b1f.js"></script>
    <script type="text/javascript">
!function () {

    require.async("common:widget/header2/header.js");
    require.async("common:widget/headerCart/headerCart.js");
    require.async("common:widget/headerUserStatus/headerUserStatus.js");
}();
        !function () {
            require.async("store:widget/widgets/productImgView/productImgView.js");
        }();
        !function () {

            require.async("store:widget/store/detail/index.js", function (pageDetail) {
                pageDetail.init({
                    parent: "J_productImg",
                    urls: ["https://img.niucache.com/9634C269A9294C68983007D60063EF1D.jpg", "https://img.niucache.com/44A14CAFA60F4DA09249429EFADA9D80.jpg", "https://img.niucache.com/3FA46AFDAD504D9B951D4EAF294223F6.jpg", "https://img.niucache.com/112DC45AF6B149DAA12D0A4082C5C906.jpg"],
                    product: { "spuId": 145, "name": "小牛电动雨衣", "productPriceLowest": 199, "productPriceHighest": 199 },
                    skus: [{ "skuId": 638, "skuNumber": "52013101", "name": "小牛电动 雨衣", "price": { "salePrice": 199, "retailPrice": 199 }, "fulfillmentType": "SHUNFENG1", "options": { "尺码": "均码" }, "尺码": "均码" }],
                    description: [{ "title": "商品介绍", "descriptionType": "INTRODUCTION", "description": "<p><img data-src=\"https://img.niucache.com/E6326CC06EB14C148648A778EDB3CF28.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/D5CF71872F5C47B2AF02DE9896851510.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/C9397C0D47A1412F92BE859179B4FF75.jpg\" title=\"\" alt=\"\"/></p>" }, { "title": "详细参数", "descriptionType": "PARAMETERS", "description": "<p><img data-src=\"https://img.niucache.com/71387FF1547449F1B9746ECDDFE6ED3B.jpg\" title=\"\" alt=\"\"/></p>" }, { "title": "售后政策", "descriptionType": "AFTERPOLICY", "description": "<p><img data-src=\"https://img.niucache.com/887E6F7225614199A5E44DA719166B6C.jpg\" title=\"\" alt=\"\" style=\"white-space: normal;\"/></p>" }],
                    optionImagesList: { "optionName": "尺码", "defaultList": ["https://img.niucache.com/9634C269A9294C68983007D60063EF1D.jpg", "https://img.niucache.com/44A14CAFA60F4DA09249429EFADA9D80.jpg", "https://img.niucache.com/3FA46AFDAD504D9B951D4EAF294223F6.jpg", "https://img.niucache.com/112DC45AF6B149DAA12D0A4082C5C906.jpg"], "list": { "均码": ["https://img.niucache.com/9634C269A9294C68983007D60063EF1D.jpg", "https://img.niucache.com/44A14CAFA60F4DA09249429EFADA9D80.jpg", "https://img.niucache.com/3FA46AFDAD504D9B951D4EAF294223F6.jpg", "https://img.niucache.com/112DC45AF6B149DAA12D0A4082C5C906.jpg"] } },
                    options: [{ "optionName": "尺码", "optionValues": ["均码"] }],
                    mainOption: "",
                    defaultSku: { "skuId": 638, "skuNumber": "52013101", "name": "小牛电动 雨衣", "price": { "salePrice": 199, "retailPrice": 199 }, "fulfillmentType": "SHUNFENG1", "options": { "尺码": "均码" }, "尺码": "均码" },
                    ncode: ''
                })
            });
        }();
        !function () {
            require.async("common:widget/footer/footer.js");
        }();</script>
}








