@{
    ViewBag.Title = "GIVI B27 尾箱 － 小牛电动";
    Layout = "~/Views/Shared/New_Layout.cshtml";
}


@section HeadScript_Link{


<script>
        var o = navigator.userAgent,
        r = function (r) {
            return o.indexOf(r) > -1
        };
        if ((r("Android") && r("Mobile") || r("iPhone") || r("iPod") || r("Symbian") || r("IEMobile") || r("MI PAD"))) {
            location.href = "http://m.niu.com/store/detail/";
        }
    </script>

    <!--[if lt IE 9]>
        <script src="//store.niucache.com/static/common/static/common/lib/html5shiv_23e126e6.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="//store.niucache.com/static/common/common_6c4817c9.css" />
    <link rel="stylesheet" href="//store.niucache.com/static/common/static/niucontrol/niucontrol_06eac47d.css" />
    <link rel="stylesheet" href="//store.niucache.com/static/store/widget/store/detail/index_7f533c99.css" />
    <link rel="stylesheet" href="//store.niucache.com/static/store/widget/widgets/productImgView/productImgView_00d88acb.css" />
}







@section HeadLink{

    <link rel="stylesheet" id="header_links" type="text/css" href="//store.niucache.com/static/common/widget/header2/style_6965f5af.css" />
    }

    <!--[if lt IE 9]>
    <script>
    (function(w){
      var doc = w.document, docElem = doc.documentElement,
        head = doc.getElementsByTagName("head")[0] || docElem,
        linkEle = doc.getElementById('header_links');
        linkEle.parentNode.removeChild(linkEle);
        head.insertBefore(linkEle,head.lastChild);
    })(window);
    </script>
    <script src="//store.niucache.com/static/common/static/common/lib/respond_b890fb80.js"></script>
    <![endif]-->



@section Body{  




    <section class="storeDetail">
        <div class="storeDetail-intro">
            <article class="storeDetail-intro-view J_bigImgBlock">


                <article class="storeDetail-intro-view J_bigImgBlock">
                    <div class="storeDetail-intro-view-bigImg">
                        <ul>

                            <li>
                                <div class="img-box" style='padding: 1px;'>
                                    <img src="https://img.niucache.com/13B02A1D3AA64D98ABF1D9D6C877D207.jpg" alt="" />
                                </div>
                            </li>

                            <li>
                                <div class="img-box" style='padding: 1px;'>
                                    <img src="https://img.niucache.com/BD46DA250AAD4650B154AEA168087335.jpg" alt="" />
                                </div>
                            </li>

                            <li>
                                <div class="img-box" style='padding: 1px;'>
                                    <img src="https://img.niucache.com/E8F7537FB6DD4C46AF7A321ACE0D6B01.jpg" alt="" />
                                </div>
                            </li>

                            <li>
                                <div class="img-box" style='padding: 1px;'>
                                    <img src="https://img.niucache.com/94BCF3D0524347A78216E1C1DE64B824.jpg" alt="" />
                                </div>
                            </li>

                        </ul>
                    </div>
                </article>


            </article>
            <article class="storeDetail-intro-options">
                <p class="name" id="productName">GIVI B27 尾箱</p>
                <div class="countBox">
                    <div class="selectOption clearfix">
                        <p class="optionTit">价格</p>
                        <dl class="countBox-price clearfix">


                            <dd class="J_storeDetailPrice">￥499</dd>



                        </dl>
                    </div>

                    <div class="selectOption clearfix js-option">
                        <p class="optionTit">颜色</p>
                        <dl class="J_optionContent0 optionBorder clearfix" data-option="颜色">

                            <dd data-option="颜色" class="J_storeDetailOptions optionList">黑红</dd>

                        </dl>
                    </div>


                    <div class="selectNum clearfix">
                        <p class="selectNumTit">数量</p>
                        <div class="numBox">
                            <span class="J_subQty">-</span>
                            <input class="J_qty" type="text" value="1" />
                            <span class="J_addQty">+</span>
                        </div>
                    </div>
                </div>
                <div class="J_addCart joinCarBtn disabled">
                    <span class="icon-cart"></span>loading
                </div>
                <div class="storeDetail-intro-options-tips">

                    <p class="tips-title">全场配件满499元包邮。</p>


                    <p>客服电话400-6388-666，周一至周日7:00-21:00</p>
                    <p>(仅收市话费)。</p>

                </div>
            </article>
        </div>
    </section>


    <div id="details">
        <div class="miniNavBorder-innter">
            <div class="miniNavBorder" id="miniNavBorder">
                <ul class="miniNav clearfix">

                    <li class="miniNavList"><a href="#INTRODUCTION">商品介绍</a></li>

                    <li class="miniNavList"><a href="#PARAMETERS">详细参数</a></li>

                    <li class="miniNavList"><a href="#AFTERPOLICY">售后政策</a></li>

                </ul>
            </div>
        </div>

        <ul class="content">

            <li class="active contentList" data-des><a id="INTRODUCTION" name="INTRODUCTION"></a><p><img data-src="http://img.niucache.com/47EF3CD59A074FAF80191AFF20278360.jpg" style="" /></p><p><img data-src="http://img.niucache.com/05DB35A983864071A854133311B0FB25.jpg" style="" /></p><p><img data-src="http://img.niucache.com/4F7FC37E734F4BDEA44657D49BF445AD.jpg" style="" /></p><p><img data-src="http://img.niucache.com/C4705E9059B648CD97597B132C75F9A9.jpg" style="white-space: normal;" /></p><p><br /></p><p><img data-src="http://img.niucache.com/28D6CA5EC47D4E27856F997950FC022F.jpg" style="float: left;" /></p><p><br /></p><p><img data-src="http://img.niucache.com/F62CB1E9B9C142CFB5C4892412213BB4.jpg" style="" title="undefined" alt="" /></p><p><img data-src="http://img.niucache.com/F3F410AB5ED64FDF86AE8D0C42A69FF5.jpg" style="white-space: normal;" /></p><p><img data-src="http://img.niucache.com/C1BD1E8FC3094E3EA7BD6EA12044C940.jpg" style="" /></p><p><br /></p></li>

            <li class="active contentList" data-des><a id="PARAMETERS" name="PARAMETERS"></a></li>

            <li class="active contentList" data-des><a id="AFTERPOLICY" name="AFTERPOLICY"></a></li>


        </ul>

    </div>
    }
@section FooterLink_Script{





   






    <script type="text/javascript" src="//dn-bughd-web.qbox.me/bughd.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        window.bughd = window.bughd || function () { };
        bughd("create", { key: "ec0399cd9efd19e4ed66a94c56fd4bc6" });
    </script>
    <script type="text/javascript" src="//store.niucache.com/static/common/common_00b45ee5.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/common/widget/plugin/remote/remote_cdf6d669.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/store/widget/store/cart_05ba30e2.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/store/widget/store/detail/lazyload2_391fdb78.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/store/widget/store/detail/index_694a5f84.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/store/widget/widgets/productImgView/productImgView_28bd4b1f.js"></script>
    <script type="text/javascript">
!function () {

    require.async("common:widget/header2/header.js");
    require.async("common:widget/headerCart/headerCart.js");
    require.async("common:widget/headerUserStatus/headerUserStatus.js");
}();
        !function () {
            require.async("store:widget/widgets/productImgView/productImgView.js");
        }();
        !function () {

            require.async("store:widget/store/detail/index.js", function (pageDetail) {
                pageDetail.init({
                    parent: "J_productImg",
                    urls: ["https://img.niucache.com/13B02A1D3AA64D98ABF1D9D6C877D207.jpg", "https://img.niucache.com/BD46DA250AAD4650B154AEA168087335.jpg", "https://img.niucache.com/E8F7537FB6DD4C46AF7A321ACE0D6B01.jpg", "https://img.niucache.com/94BCF3D0524347A78216E1C1DE64B824.jpg"],
                    product: { "spuId": 157, "name": "GIVI B27 尾箱", "productPriceLowest": 499, "productPriceHighest": 499 },
                    skus: [{ "skuId": 666, "skuNumber": "26143901", "name": "GIVI B27 尾箱", "price": { "salePrice": 499, "retailPrice": 499 }, "fulfillmentType": "SHUNFENG1", "options": { "颜色": "黑红" }, "颜色": "黑红" }],
                    description: [{ "title": "商品介绍", "descriptionType": "INTRODUCTION", "description": "<p><img data-src=\"http://img.niucache.com/47EF3CD59A074FAF80191AFF20278360.jpg\" style=\"\"/></p><p><img data-src=\"http://img.niucache.com/05DB35A983864071A854133311B0FB25.jpg\" style=\"\"/></p><p><img data-src=\"http://img.niucache.com/4F7FC37E734F4BDEA44657D49BF445AD.jpg\" style=\"\"/></p><p><img data-src=\"http://img.niucache.com/C4705E9059B648CD97597B132C75F9A9.jpg\" style=\"white-space: normal;\"/></p><p><br/></p><p><img data-src=\"http://img.niucache.com/28D6CA5EC47D4E27856F997950FC022F.jpg\" style=\"float: left;\"/></p><p><br/></p><p><img data-src=\"http://img.niucache.com/F62CB1E9B9C142CFB5C4892412213BB4.jpg\" style=\"\" title=\"undefined\" alt=\"\"/></p><p><img data-src=\"http://img.niucache.com/F3F410AB5ED64FDF86AE8D0C42A69FF5.jpg\" style=\"white-space: normal;\"/></p><p><img data-src=\"http://img.niucache.com/C1BD1E8FC3094E3EA7BD6EA12044C940.jpg\" style=\"\"/></p><p><br/></p>" }, { "title": "详细参数", "descriptionType": "PARAMETERS", "description": "" }, { "title": "售后政策", "descriptionType": "AFTERPOLICY", "description": "" }],
                    optionImagesList: { "optionName": "颜色", "defaultList": ["https://img.niucache.com/13B02A1D3AA64D98ABF1D9D6C877D207.jpg", "https://img.niucache.com/BD46DA250AAD4650B154AEA168087335.jpg", "https://img.niucache.com/E8F7537FB6DD4C46AF7A321ACE0D6B01.jpg", "https://img.niucache.com/94BCF3D0524347A78216E1C1DE64B824.jpg"], "list": { "黑红": ["https://img.niucache.com/13B02A1D3AA64D98ABF1D9D6C877D207.jpg", "https://img.niucache.com/BD46DA250AAD4650B154AEA168087335.jpg", "https://img.niucache.com/E8F7537FB6DD4C46AF7A321ACE0D6B01.jpg", "https://img.niucache.com/94BCF3D0524347A78216E1C1DE64B824.jpg"] } },
                    options: [{ "optionName": "颜色", "optionValues": ["黑红"] }],
                    mainOption: "",
                    defaultSku: { "skuId": 666, "skuNumber": "26143901", "name": "GIVI B27 尾箱", "price": { "salePrice": 499, "retailPrice": 499 }, "fulfillmentType": "SHUNFENG1", "options": { "颜色": "黑红" }, "颜色": "黑红" },
                    ncode: ''
                })
            });
        }();
        !function () {
            require.async("common:widget/footer/footer.js");
        }();</script>
}







