@{
    ViewBag.Title = "NSeries1";
    Layout = "~/Views/Shared/New_Layout.cshtml";
}


@section HeadScript_Link{

    <script>
        var o = navigator.userAgent,
        r = function (r) {
            return o.indexOf(r) > -1
        };
        if ((r("Android") && r("Mobile") || r("iPhone") || r("iPod") || r("Symbian") || r("IEMobile") || r("MI PAD"))) {
            location.href = "http://m.niu.com/store/detail/";
        }
    </script>

    <!--[if lt IE 9]>
        <script src="//store.niucache.com/static/common/static/common/lib/html5shiv_23e126e6.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="//store.niucache.com/static/common/common_6c4817c9.css" />
    <link rel="stylesheet" href="//store.niucache.com/static/common/static/niucontrol/niucontrol_06eac47d.css" />
    <link rel="stylesheet" href="//store.niucache.com/static/store/widget/store/detail/index_7f533c99.css" />
    <link rel="stylesheet" href="//store.niucache.com/static/store/widget/widgets/productImgView/productImgView_00d88acb.css" />
}

@section HeadLink{


    <link rel="stylesheet" id="header_links" type="text/css" href="//store.niucache.com/static/common/widget/header2/style_6965f5af.css" />
}

@section Body{ 

    <!--[if lt IE 9]>
    <script>
    (function(w){
      var doc = w.document, docElem = doc.documentElement,
        head = doc.getElementsByTagName("head")[0] || docElem,
        linkEle = doc.getElementById('header_links');
        linkEle.parentNode.removeChild(linkEle);
        head.insertBefore(linkEle,head.lastChild);
    })(window);
    </script>
    <script src="//store.niucache.com/static/common/static/common/lib/respond_b890fb80.js"></script>
    <![endif]-->


    <section class="storeDetail">
        <div class="storeDetail-intro">
            <article class="storeDetail-intro-view J_bigImgBlock">


                <article class="storeDetail-intro-view J_bigImgBlock">
                    <div class="storeDetail-intro-view-bigImg">
                        <ul>

                            <li>
                                <div class="img-box" style='padding: 1px;'>
                                    <img src="https://img.niucache.com/EBC288AD0E5245C6AEDF33445D0FB6E3.jpg" alt="" />
                                </div>
                            </li>

                            <li>
                                <div class="img-box" style='padding: 1px;'>
                                    <img src="https://img.niucache.com/FFE403A805E64AA4A05C3244C40ED7E7.jpg" alt="" />
                                </div>
                            </li>

                            <li>
                                <div class="img-box" style='padding: 1px;'>
                                    <img src="https://img.niucache.com/DB17C4D5F8984778977D6356C16C00B4.jpg" alt="" />
                                </div>
                            </li>

                            <li>
                                <div class="img-box" style='padding: 1px;'>
                                    <img src="https://img.niucache.com/EAA6D6B952964667B7A927443B12EC30.jpg" alt="" />
                                </div>
                            </li>

                            <li>
                                <div class="img-box" style='padding: 1px;'>
                                    <img src="https://img.niucache.com/1CF3C73CC1BC44EF850A737100AD4C9F.jpg" alt="" />
                                </div>
                            </li>

                            <li>
                                <div class="img-box" style='padding: 1px;'>
                                    <img src="https://img.niucache.com/BA865405987F48EAAC96DC22776486C6.jpg" alt="" />
                                </div>
                            </li>

                        </ul>
                    </div>
                </article>


            </article>
            <article class="storeDetail-intro-options">
                <p class="name" id="productName">NIU N1踏板脚垫</p>
                <div class="countBox">
                    <div class="selectOption clearfix">
                        <p class="optionTit">价格</p>
                        <dl class="countBox-price clearfix">


                            <dd class="J_storeDetailPrice">￥149</dd>



                        </dl>
                    </div>

                    <div class="selectOption clearfix js-option">
                        <p class="optionTit">尺码</p>
                        <dl class="J_optionContent0 optionBorder clearfix" data-option="尺码">

                            <dd data-option="尺码" class="J_storeDetailOptions optionList">均码</dd>

                        </dl>
                    </div>

                    <div class="selectOption clearfix js-option">
                        <p class="optionTit">颜色</p>
                        <dl class="J_optionContent1 optionBorder clearfix" data-option="颜色">

                            <dd data-option="颜色" class="J_storeDetailOptions optionList">黑</dd>

                        </dl>
                    </div>


                    <div class="selectNum clearfix">
                        <p class="selectNumTit">数量</p>
                        <div class="numBox">
                            <span class="J_subQty">-</span>
                            <input class="J_qty" type="text" value="1" />
                            <span class="J_addQty">+</span>
                        </div>
                    </div>
                </div>
                <div class="J_addCart joinCarBtn disabled">
                    <span class="icon-cart"></span>loading
                </div>
                <div class="storeDetail-intro-options-tips">

                    <p class="tips-title">全场配件满499元包邮。</p>


                    <p>客服电话400-6388-666，周一至周日7:00-21:00</p>
                    <p>(仅收市话费)。</p>

                </div>
            </article>
        </div>
    </section>


    <div id="details">
        <div class="miniNavBorder-innter">
            <div class="miniNavBorder" id="miniNavBorder">
                <ul class="miniNav clearfix">

                    <li class="miniNavList"><a href="#INTRODUCTION">商品介绍</a></li>

                    <li class="miniNavList"><a href="#PARAMETERS">详细参数</a></li>

                    <li class="miniNavList"><a href="#AFTERPOLICY">售后政策</a></li>

                </ul>
            </div>
        </div>

        <ul class="content">

            <li class="active contentList" data-des><a id="INTRODUCTION" name="INTRODUCTION"></a><p><img data-src="https://img.niucache.com/9737A80C9D394570BF0FD251D4752563.jpg" style="" /></p><p><img data-src="https://img.niucache.com/8EC1A99FF65E46D887CA10E3A295B6E2.jpg" style="" /></p><p><img data-src="https://img.niucache.com/50F965C7C15C44F49DB0148580FBFAA0.jpg" title="" alt="" /></p><p><img data-src="https://img.niucache.com/FFCFD70D2EF541E7B1A0DDB90A876E4B.jpg" style="" /></p><p><br /></p><p><br /></p><p><br /></p><p><br /></p><p><br /></p><p><br /></p></li>

            <li class="active contentList" data-des><a id="PARAMETERS" name="PARAMETERS"></a><p><img data-src="https://img.niucache.com/7ECDFE04139D451CA5D346BC6E4A84FA.jpg" /></p></li>

            <li class="active contentList" data-des><a id="AFTERPOLICY" name="AFTERPOLICY"></a><p><img data-src="https://img.niucache.com/4A1751B7BC954DDBBC675703F1649852.jpg" title="" alt="" /></p></li>


        </ul>

    </div>

}

@section FooterLink_Script{


    <script type="text/javascript" src="//dn-bughd-web.qbox.me/bughd.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        window.bughd = window.bughd || function () { };
        bughd("create", { key: "ec0399cd9efd19e4ed66a94c56fd4bc6" });
    </script>
    <script type="text/javascript" src="//store.niucache.com/static/common/common_00b45ee5.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/common/widget/plugin/remote/remote_cdf6d669.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/store/widget/store/cart_05ba30e2.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/store/widget/store/detail/lazyload2_391fdb78.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/store/widget/store/detail/index_694a5f84.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/store/widget/widgets/productImgView/productImgView_28bd4b1f.js"></script>
    <script type="text/javascript">
!function () {

    require.async("common:widget/header2/header.js");
    require.async("common:widget/headerCart/headerCart.js");
    require.async("common:widget/headerUserStatus/headerUserStatus.js");
}();
        !function () {
            require.async("store:widget/widgets/productImgView/productImgView.js");
        }();
        !function () {

            require.async("store:widget/store/detail/index.js", function (pageDetail) {
                pageDetail.init({
                    parent: "J_productImg",
                    urls: ["https://img.niucache.com/EBC288AD0E5245C6AEDF33445D0FB6E3.jpg", "https://img.niucache.com/FFE403A805E64AA4A05C3244C40ED7E7.jpg", "https://img.niucache.com/DB17C4D5F8984778977D6356C16C00B4.jpg", "https://img.niucache.com/EAA6D6B952964667B7A927443B12EC30.jpg", "https://img.niucache.com/1CF3C73CC1BC44EF850A737100AD4C9F.jpg", "https://img.niucache.com/BA865405987F48EAAC96DC22776486C6.jpg"],
                    product: { "spuId": 17, "name": "NIU N1踏板脚垫", "productPriceLowest": 149, "productPriceHighest": 149 },
                    skus: [{ "skuId": 25, "skuNumber": "0102109010401", "name": "NIU N1踏板脚垫  黑  均码", "price": { "salePrice": 149, "retailPrice": 149 }, "fulfillmentType": "SHUNFENG1", "options": { "尺码": "均码", "颜色": "黑" }, "尺码": "均码", "颜色": "黑" }],
                    description: [{ "title": "商品介绍", "descriptionType": "INTRODUCTION", "description": "<p><img data-src=\"https://img.niucache.com/9737A80C9D394570BF0FD251D4752563.jpg\" style=\"\"/></p><p><img data-src=\"https://img.niucache.com/8EC1A99FF65E46D887CA10E3A295B6E2.jpg\" style=\"\"/></p><p><img data-src=\"https://img.niucache.com/50F965C7C15C44F49DB0148580FBFAA0.jpg\" title=\"\" alt=\"\"/></p><p><img data-src=\"https://img.niucache.com/FFCFD70D2EF541E7B1A0DDB90A876E4B.jpg\" style=\"\"/></p><p><br/></p><p><br/></p><p><br/></p><p><br/></p><p><br/></p><p><br/></p>" }, { "title": "详细参数", "descriptionType": "PARAMETERS", "description": "<p><img data-src=\"https://img.niucache.com/7ECDFE04139D451CA5D346BC6E4A84FA.jpg\"/></p>" }, { "title": "售后政策", "descriptionType": "AFTERPOLICY", "description": "<p><img data-src=\"https://img.niucache.com/4A1751B7BC954DDBBC675703F1649852.jpg\" title=\"\" alt=\"\"/></p>" }],
                    optionImagesList: { "optionName": "颜色", "defaultList": ["https://img.niucache.com/EBC288AD0E5245C6AEDF33445D0FB6E3.jpg", "https://img.niucache.com/FFE403A805E64AA4A05C3244C40ED7E7.jpg", "https://img.niucache.com/DB17C4D5F8984778977D6356C16C00B4.jpg", "https://img.niucache.com/EAA6D6B952964667B7A927443B12EC30.jpg", "https://img.niucache.com/1CF3C73CC1BC44EF850A737100AD4C9F.jpg", "https://img.niucache.com/BA865405987F48EAAC96DC22776486C6.jpg"], "list": { "黑": ["https://img.niucache.com/EBC288AD0E5245C6AEDF33445D0FB6E3.jpg", "https://img.niucache.com/FFE403A805E64AA4A05C3244C40ED7E7.jpg", "https://img.niucache.com/DB17C4D5F8984778977D6356C16C00B4.jpg", "https://img.niucache.com/EAA6D6B952964667B7A927443B12EC30.jpg", "https://img.niucache.com/1CF3C73CC1BC44EF850A737100AD4C9F.jpg", "https://img.niucache.com/BA865405987F48EAAC96DC22776486C6.jpg"] } },
                    options: [{ "optionName": "尺码", "optionValues": ["均码"] }, { "optionName": "颜色", "optionValues": ["黑"] }],
                    mainOption: "尺码",
                    defaultSku: { "skuId": 25, "skuNumber": "0102109010401", "name": "NIU N1踏板脚垫  黑  均码", "price": { "salePrice": 149, "retailPrice": 149 }, "fulfillmentType": "SHUNFENG1", "options": { "尺码": "均码", "颜色": "黑" }, "尺码": "均码", "颜色": "黑" },
                    ncode: ''
                })
            });
        }();
        !function () {
            require.async("common:widget/footer/footer.js");
        }();</script>
}
