@{
    ViewBag.Title = "NIU U1 前车篮 － 小牛电动";
    Layout = "~/Views/Shared/New_Layout.cshtml";
}


@section HeadScript_Link{





    <script>
        var o = navigator.userAgent,
        r = function (r) {
            return o.indexOf(r) > -1
        };
        if ((r("Android") && r("Mobile") || r("iPhone") || r("iPod") || r("Symbian") || r("IEMobile") || r("MI PAD"))) {
            location.href = "http://m.niu.com/store/detail/";
        }
    </script>

    <!--[if lt IE 9]>
        <script src="//store.niucache.com/static/common/static/common/lib/html5shiv_23e126e6.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="//store.niucache.com/static/common/common_6c4817c9.css" />
    <link rel="stylesheet" href="//store.niucache.com/static/common/static/niucontrol/niucontrol_06eac47d.css" />
    <link rel="stylesheet" href="//store.niucache.com/static/store/widget/store/detail/index_7f533c99.css" />
    <link rel="stylesheet" href="//store.niucache.com/static/store/widget/widgets/productImgView/productImgView_00d88acb.css" />
}




@section HeadLink{




    <link rel="stylesheet" id="header_links" type="text/css" href="//store.niucache.com/static/common/widget/header2/style_6965f5af.css" />
    }
    @section Body{ 

    <!--[if lt IE 9]>
    <script>
    (function(w){
      var doc = w.document, docElem = doc.documentElement,
        head = doc.getElementsByTagName("head")[0] || docElem,
        linkEle = doc.getElementById('header_links');
        linkEle.parentNode.removeChild(linkEle);
        head.insertBefore(linkEle,head.lastChild);
    })(window);
    </script>
    <script src="//store.niucache.com/static/common/static/common/lib/respond_b890fb80.js"></script>
    <![endif]-->



    <section class="storeDetail">
        <div class="storeDetail-intro">
            <article class="storeDetail-intro-view J_bigImgBlock">


                <article class="storeDetail-intro-view J_bigImgBlock">
                    <div class="storeDetail-intro-view-bigImg">
                        <ul>

                            <li>
                                <div class="img-box" style='padding: 1px;'>
                                    <img src="https://img.niucache.com/440745DF134D4028865EA32DE795BCCD.jpg" alt="" />
                                </div>
                            </li>

                            <li>
                                <div class="img-box" style='padding: 1px;'>
                                    <img src="https://img.niucache.com/3B7DCFC2AAC84EF6BBFF7A05F7687576.jpg" alt="" />
                                </div>
                            </li>

                            <li>
                                <div class="img-box" style='padding: 1px;'>
                                    <img src="https://img.niucache.com/CC74700C7B054FC7BD9C043E7D961222.jpg" alt="" />
                                </div>
                            </li>

                            <li>
                                <div class="img-box" style='padding: 1px;'>
                                    <img src="https://img.niucache.com/D5F78D5ECFE54A4B927D9B19861BE78D.jpg" alt="" />
                                </div>
                            </li>

                        </ul>
                    </div>
                </article>


            </article>
            <article class="storeDetail-intro-options">
                <p class="name" id="productName">NIU U1 前车篮</p>
                <div class="countBox">
                    <div class="selectOption clearfix">
                        <p class="optionTit">价格</p>
                        <dl class="countBox-price clearfix">


                            <dd class="J_storeDetailPrice">￥99</dd>



                        </dl>
                    </div>

                    <div class="selectOption clearfix js-option">
                        <p class="optionTit">尺寸</p>
                        <dl class="J_optionContent0 optionBorder clearfix" data-option="尺寸">

                            <dd data-option="尺寸" class="J_storeDetailOptions optionList">均码</dd>

                        </dl>
                    </div>


                    <div class="selectNum clearfix">
                        <p class="selectNumTit">数量</p>
                        <div class="numBox">
                            <span class="J_subQty">-</span>
                            <input class="J_qty" type="text" value="1" />
                            <span class="J_addQty">+</span>
                        </div>
                    </div>
                </div>
                <div class="J_addCart joinCarBtn disabled">
                    <span class="icon-cart"></span>loading
                </div>
                <div class="storeDetail-intro-options-tips">

                    <p class="tips-title">全场配件满499元包邮。</p>


                    <p>客服电话400-6388-666，周一至周日7:00-21:00</p>
                    <p>(仅收市话费)。</p>

                </div>
            </article>
        </div>
    </section>


    <div id="details">
        <div class="miniNavBorder-innter">
            <div class="miniNavBorder" id="miniNavBorder">
                <ul class="miniNav clearfix">

                    <li class="miniNavList"><a href="#INTRODUCTION">商品介绍</a></li>

                    <li class="miniNavList"><a href="#PARAMETERS">详细参数</a></li>

                    <li class="miniNavList"><a href="#AFTERPOLICY">售后政策</a></li>

                </ul>
            </div>
        </div>

        <ul class="content">

            <li class="active contentList" data-des><a id="INTRODUCTION" name="INTRODUCTION"></a></li>

            <li class="active contentList" data-des><a id="PARAMETERS" name="PARAMETERS"></a><p><img data-src="http://img.niucache.com/1571DA4EEF55427386E9B830AA634D8B.jpg" style="" /></p><p><img data-src="http://img.niucache.com/DF4AABFD49CE4A5E919FA1E58246AEB5.jpg" style="white-space: normal;" /></p><p><img data-src="http://img.niucache.com/51956012790349048191724D47F2FC5B.jpg" style="white-space: normal;" /></p><p><img data-src="http://img.niucache.com/587C04AAD592455FAB54A8AC7C2AD188.jpg" style="" /></p><p><img data-src="http://img.niucache.com/F51087799C9244A09F6492EEE071072D.jpg" style="" /></p><p><img data-src="http://img.niucache.com/33A73361C1E3470FA300AA186D5F5C69.jpg" style="" /></p><p><br /></p><p><br /></p><p><br /></p></li>

            <li class="active contentList" data-des><a id="AFTERPOLICY" name="AFTERPOLICY"></a><p><img data-src="https://img.niucache.com/1BBC65DB521C4005BD0F3DF91DB4B85E.jpg" title="" alt="" style="white-space: normal;" /></p></li>


        </ul>

    </div>





}


@section FooterLink_Script{


    <script type="text/javascript" src="//dn-bughd-web.qbox.me/bughd.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        window.bughd = window.bughd || function () { };
        bughd("create", { key: "ec0399cd9efd19e4ed66a94c56fd4bc6" });
    </script>
    <script type="text/javascript" src="//store.niucache.com/static/common/common_00b45ee5.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/common/widget/plugin/remote/remote_cdf6d669.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/store/widget/store/cart_05ba30e2.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/store/widget/store/detail/lazyload2_391fdb78.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/store/widget/store/detail/index_694a5f84.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/store/widget/widgets/productImgView/productImgView_28bd4b1f.js"></script>
    <script type="text/javascript">
!function () {

    require.async("common:widget/header2/header.js");
    require.async("common:widget/headerCart/headerCart.js");
    require.async("common:widget/headerUserStatus/headerUserStatus.js");
}();
        !function () {
            require.async("store:widget/widgets/productImgView/productImgView.js");
        }();
        !function () {

            require.async("store:widget/store/detail/index.js", function (pageDetail) {
                pageDetail.init({
                    parent: "J_productImg",
                    urls: ["https://img.niucache.com/440745DF134D4028865EA32DE795BCCD.jpg", "https://img.niucache.com/3B7DCFC2AAC84EF6BBFF7A05F7687576.jpg", "https://img.niucache.com/CC74700C7B054FC7BD9C043E7D961222.jpg", "https://img.niucache.com/D5F78D5ECFE54A4B927D9B19861BE78D.jpg"],
                    product: { "spuId": 139, "name": "NIU U1 前车篮", "productPriceLowest": 99, "productPriceHighest": 99 },
                    skus: [{ "skuId": 610, "skuNumber": "29010101", "name": "NIU U1 前车篮", "price": { "salePrice": 99, "retailPrice": 99 }, "fulfillmentType": "SHUNFENG1", "options": { "尺寸": "均码" }, "尺寸": "均码" }],
                    description: [{ "title": "商品介绍", "descriptionType": "INTRODUCTION", "description": "" }, { "title": "详细参数", "descriptionType": "PARAMETERS", "description": "<p><img data-src=\"http://img.niucache.com/1571DA4EEF55427386E9B830AA634D8B.jpg\" style=\"\"/></p><p><img data-src=\"http://img.niucache.com/DF4AABFD49CE4A5E919FA1E58246AEB5.jpg\" style=\"white-space: normal;\"/></p><p><img data-src=\"http://img.niucache.com/51956012790349048191724D47F2FC5B.jpg\" style=\"white-space: normal;\"/></p><p><img data-src=\"http://img.niucache.com/587C04AAD592455FAB54A8AC7C2AD188.jpg\" style=\"\"/></p><p><img data-src=\"http://img.niucache.com/F51087799C9244A09F6492EEE071072D.jpg\" style=\"\"/></p><p><img data-src=\"http://img.niucache.com/33A73361C1E3470FA300AA186D5F5C69.jpg\" style=\"\"/></p><p><br/></p><p><br/></p><p><br/></p>" }, { "title": "售后政策", "descriptionType": "AFTERPOLICY", "description": "<p><img data-src=\"https://img.niucache.com/1BBC65DB521C4005BD0F3DF91DB4B85E.jpg\" title=\"\" alt=\"\" style=\"white-space: normal;\"/></p>" }],
                    optionImagesList: { "optionName": "尺寸", "defaultList": ["https://img.niucache.com/440745DF134D4028865EA32DE795BCCD.jpg", "https://img.niucache.com/3B7DCFC2AAC84EF6BBFF7A05F7687576.jpg", "https://img.niucache.com/CC74700C7B054FC7BD9C043E7D961222.jpg", "https://img.niucache.com/D5F78D5ECFE54A4B927D9B19861BE78D.jpg"], "list": { "均码": ["https://img.niucache.com/440745DF134D4028865EA32DE795BCCD.jpg", "https://img.niucache.com/3B7DCFC2AAC84EF6BBFF7A05F7687576.jpg", "https://img.niucache.com/CC74700C7B054FC7BD9C043E7D961222.jpg", "https://img.niucache.com/D5F78D5ECFE54A4B927D9B19861BE78D.jpg"] } },
                    options: [{ "optionName": "尺寸", "optionValues": ["均码"] }],
                    mainOption: "",
                    defaultSku: { "skuId": 610, "skuNumber": "29010101", "name": "NIU U1 前车篮", "price": { "salePrice": 99, "retailPrice": 99 }, "fulfillmentType": "SHUNFENG1", "options": { "尺寸": "均码" }, "尺寸": "均码" },
                    ncode: ''
                })
            });
        }();
        !function () {
            require.async("common:widget/footer/footer.js");
        }();</script>




}

