@{
    ViewBag.Title = "牛油保 Niu Cover - 小牛电动";
    Layout = "~/Views/Shared/New_Layout.cshtml";
}


@section HeadScript_Link{
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#df001f">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <base href="https://www.niu.com/activity/20151125/pc/">

    <link rel="stylesheet" type="text/css" href="/Content/Niucover/css/basic.css">
    <link rel="stylesheet" type="text/css" href="/Content/Niucover/css/baoxian.css">
    <script src="/Content/Niucover/js/jquery-1.9.1.min.js"></script>

    <!--[if lt IE 9]>
    <script src="https://7xlzdz.com2.z0.glb.qiniucdn.com/static/home/static/common/lib/html5shiv_23e126e6.js"></script>
    <![endif]-->
    <style>
        .copyleft-bg {
            background-position: 0 0px !important;
            height: 22px !important;
            background-size: 101% 85% !important;
        }

        .copyleft {
            width: 175px !important;
        }
    </style>


}

@section HeadLink{
    <script src="https://www.niu.com/component/header/"></script>
    }

@section Body{

    <div class="secondary_nav">
        <div class="secondary_cont">
            <img class="baoxianLog" src="/Content/Niucover/img/baoxianLog.png" alt="" />
            <ul class="navList">
                <li><a target="_blank" href="http://bbs.niu.com/thread-55505-1-1.html">整车盗抢赔付</a></li>
                <li><a target="_blank" href="http://bbs.niu.com/thread-55512-1-1.html">第三者伤害赔付</a></li>
                <li><a target="_blank" href="http://bbs.niu.com/thread-55511-1-1.html">驾驶人意外伤害赔付</a></li>
                <li><a target="_blank" href="http://bbs.niu.com/thread-55506-1-1.html">服务保障条款</a></li>
                <li><a target="_blank" href="http://bbs.niu.com/thread-55579-1-1.html">免责条款</a></li>
                <li><a target="_blank" href="http://bbs.niu.com/thread-73874-1-1.html">申请攻略</a></li>
            </ul>
        </div>
    </div>

    <div class="block block1">
        <div class="link-enter">
            <a target="_bank" href="http://store.niu.com/detail/75">N1S牛油保</a>
            <a target="_bank" href="http://store.niu.com/detail/76">N1牛油保</a>
            <a target="_bank" href="http://store.niu.com/detail/73">M1牛油保</a>
            <a target="_bank" href="http://store.niu.com/detail/138">M1S牛油保</a>
            <a target="_bank" href="http://store.niu.com/detail/137">U1牛油保</a>
        </div>
        <div class="block1-serve">
            <p>对每一位牛油负责到底，让每次出行变得安心自在</p>
            <p>无论骑行过程中，或是驻车锁车后，“牛油保”时刻以最高等级的安全保障全面覆盖人身，三者，车辆盗抢三大方面</p>
            <p>最大程度保证每一位牛油的人身财产安全</p>
        </div>
    </div>
    <div class="block1-steal">
        <img src="/Content/Niucover/img/baoxian-steal.jpg">
        <div class="baoxian1-1 clearfix">
            <img src="/Content/Niucover/img/num1.png" alt="" />
            <div class="showContRight">
                <p class="p1">整车盗抢赔付 </p>
                <p class="p2">你敢丢，我敢赔</p>
            </div>
        </div>

        <div class="baoxian1-2">
            <p class="clearfix"><span class="span1"></span><span>整车赔付</span></p>
            <p class="clearfix"><span class="span1"></span><span>只需3步，流程简单</span></p>
            <p class="clearfix"><span class="span1"></span><span>资料齐全1日内完成赔付</span></p>
        </div>

        <a class="linkEnter link1-1" target="_blank" href="http://bbs.niu.com/thread-55505-1-1.html">中国平安盗抢险保险条款></a>
        <a class="linkEnter-1 link1-2" target="_blank" href="http://bbs.niu.com/thread-85894-1-1.html">中国人寿盗抢险保险条款></a>

    </div>
    <div class="block1-blame">
        <img src="/Content/Niucover/img/baoxian-blame.jpg">
        <div class="baoxian1-1 clearfix list-2">
            <img src="/Content/Niucover/img/num2.png" alt="" />
            <div class="showContRight">
                <p class="p1">第三者伤害赔付 </p>
                <p class="p2">如遇险情，小牛帮你赔</p>
            </div>
        </div>

        <div class="baoxian1-2 list-2-count">
            <p class="clearfix"><span class="span1"></span><span>如果在驾驶期间，您不小心令他人经历了意外事件，</span></p>
            <p class="clearfix"><span class="span1"></span><span>造成了人身伤害（不包括财产损失），</span></p>
            <p class="clearfix"><span class="span1"></span><span>您也可以通过投保公司的服务热线，通知工作人员迅速赶至现场，同时拍照留证,</span></p>
            <p class="clearfix"><span class="span1"></span><span>并前往县级以上公立医院对伤者进行救治，</span></p>
            <p class="clearfix"><span class="span1"></span><span>我们会根据留存的票据对您进行赔付。</span></p>
        </div>

        <a class="linkEnter link2-1" target="_blank" href="http://bbs.niu.com/thread-55512-1-1.html">了解中国平安第三者责任险></a>
        <a class="linkEnter-1 link2-2" target="_blank" href="http://bbs.niu.com/thread-85865-1-1.html">了解中国人寿第三者责任险></a>
    </div>
    <div class="block1-accident">
        <img src="/Content/Niucover/img/baoxian-accident.jpg">
        <div class="baoxian1-1 clearfix">
            <img src="/Content/Niucover/img/num3.png" alt="" />
            <div class="showContRight">
                <p class="p1" style="padding-left: 10px;">驾驶人意外伤害赔付 </p>
                <p class="p2" style="padding-left: 10px;">我们是您坚实的后盾</p>
            </div>
        </div>

        <div class="baoxian1-2">
            <p class="clearfix"><span class="span1"></span><span>如果在驾驶期间，不小心经历了意外事件。</span></p>
            <p class="clearfix"><span class="span1"></span><span>造成了人身伤害（不包括财产损失）</span></p>
            <p class="clearfix"><span class="span1"></span><span>您也可以通过投保公司的服务热线，通知工作人员迅速赶至现场，同时拍照留证。</span></p>
            <p class="clearfix"><span class="span1"></span><span>并前往县级以上公立医院进行救治，我们会根据留存的票据对您进行赔付。</span></p>
            <p></p>
        </div>
        <a class="linkEnter" target="_blank" href="http://bbs.niu.com/thread-55511-1-1.html">了解中国平安人身意外险></a>
        <a class="linkEnter-1" target="_blank" href="http://bbs.niu.com/thread-85860-1-1.html">了解中国人寿人身意外险></a>
    </div>




    <div class="block1-blame">
        <img src="/Content/Niucover/img/baoxian-double.jpg">
        <div class="baoxian1-1 clearfix list-2">
            <img src="/Content/Niucover/img/num4.png" alt="" />
            <div class="showContRight">
                <p class="p1">双人安全保障服务 </p>
                <p class="p2">每辆车承担两辆驾驶员 每人方案相同</p>
            </div>
        </div>

        <div class="baoxian1-2 list-2-count">
            <p class="clearfix"><span class="span1"></span><span>第三者伤害赔付</span></p>
            <p class="clearfix"><span class="span1"></span><span>驾驶人意外伤害赔付</span></p>
            <p class="clearfix"><span class="span1"></span><span>两名驾驶员同时乘车时出险不在保险范围内</span></p>
        </div>

        <a class="linkEnter link2-1" target="_blank" href="http://bbs.niu.com/thread-55512-1-1.html" style="color:#fff;display:none;">了解中国平安第三者责任险></a>
        <a class="linkEnter-1 link2-2" target="_blank" href="http://bbs.niu.com/thread-85865-1-1.html" style="color:#fff;display:none;">了解中国人寿第三者责任险></a>
    </div>














    <div class="block block3">
        <img src="/Content/Niucover/img/baoxian3-1.jpg">
        <ul class="block3-online">
            <li>为了时刻贴心保护你左右，小牛电动成立专项服务，</li>
            <li>服务热线7×24小时随时待命</li>
            <li>一旦出险，请立即拨打投保公司服务热线，</li>
            <li>客服专家会在线跟您核对相关消息</li>
            <li>并指导您如何进行每一步操作</li>
        </ul>
    </div>
    <div class="block block4">
        <img src="/Content/Niucover/img/baoxian4.jpg">
        <ul class="block4-serve">
            <li>五大时效承诺保障服务及时，</li>
            <li>接到报案后2小时内到达现场。</li>
            <li>定损、理赔最快仅需一个工作日，</li>
            <li>让用户问题以更快更简单的方式解决。</li>
        </ul>
    </div>
    <div class="block block5">
        <img src="/Content/Niucover/img/baoxian5.jpg">
        <ul class="block5-guoqi">
            <li>牛油保服务支持续期，过期可续购服务。</li>
            <li>并且，第二年车辆丢失赔偿，心意不打折</li>
            <li>安心享受小牛电动带给您的骑行乐趣。</li>
        </ul>
    </div>
    <div class="block block6" style="display:none;">
        <img src="/Content/Niucover/img/baoxian6.jpg">
        <ul class="block6-banli">
            <li>只要您是在2015年11月25日前购车的牛油</li>
            <li>都可以通过线下“NIU CARE保养计划”进店办理保险业务</li>
            <li>您只需要在到店保养时带上身份证，快速安装使用说明书便能够顺利办理</li>
        </ul>
    </div>
    <div class="baoxian-write">
        <div class="w1140">
            <p class="lipeiName"><img src="/Content/Niucover/img/fuwuxuzhi.png" alt=""></p>
            <ul class="block7-lipei">
                <li>1.本服务仅提供江苏小牛电动科技有限公司生产的小牛电动车，如发生服务承担范围内的事故，出现意外后请立即拨打投保公司服务热线进行报案.</li>
                <li>2.请妥善保管购车发票以及牛油保服务单，避免影响您的理赔。</li>
                <li>3.所有服务每次事故绝对免赔额人民币300元。</li>
                <li>
                    4.服务受理流程简述：通过小牛官方微信服务端“牛油保详情”查找您所投保的保险公司，根据所提供服务热线拨打热线电话出现报案。
                    出险报案—受理赔案—现场勘查（提供服务人所需的索赔资料清单）—定损—被服务人提交索赔材料。
                </li>
                <li>5.跟机动车发生碰撞须提供交警部门开具的事故证明。</li>
                <li>6.牛油保投保人年龄范围为16周岁至65周岁之间，请您酌情购买／办理牛油保服务。</li>
                <li>7.牛油保在申请保险和理赔发生过程中，需要投保人提供被保车辆的购车发票信息，请您根据实际情况申购牛油保。</li>
            </ul>

            <div class="clearfix">
                <div class="block7-tongguo">
                    <p><img src="/Content/Niucover/img/fuwu-true.png" alt=""></p>
                    <ul>
                        <li>1、被服务人意外医疗费用。</li>
                        <li>2、被服务人意外身故/残疾费用。</li>
                        <li>3、意外致使第三者受伤的医疗费用。</li>
                        <li>4、意外致使第三者身故/残疾费用。</li>
                        <li>5、被服务车辆整车被盗抢的损失。</li>
                        <li>6、被服务人驾驶与被服务人投保时一致的小牛电动。</li>
                        <li>7、在牛油保服务有效期内拨打承保公司服务热线报案。</li>
                    </ul>
                    <a style="font-size:12px;color:#df001f;float: right;margin-right: 10px;margin-bottom:22px;" target="_blank" href="http://bbs.niu.com/thread-55506-1-1.html">查看服务保障条款&gt;</a>
                </div>
                <div class="block7-butongguo">
                    <p><img src="/Content/Niucover/img/fuwu-false.png" alt=""></p>
                    <ul>
                        <li>1、非被服务人驾驶保险车辆。</li>
                        <li>2、被服务人驾驶其他非登记电动车。</li>
                        <li>3、被服务人酒后驾车。</li>
                        <li>4、服务车辆与第三方未发生直接碰撞仅由惊恐引起第三者的人身伤亡及财产损失。</li>
                        <li>5、服务车辆上的货物、其他物品的掉落、撞击、泄漏、腐蚀造成的任何损失和费用。</li>
                        <li>6、被服务人的家庭成员、家庭雇佣人员、暂居人员盗抢或者纵容他人盗抢。</li>
                        <li>7、仅服务车辆零部件或附属设备被盗窃、抢劫、抢夺、损坏。</li>
                    </ul>
                    <a style="font-size:12px;color:#df001f;float: right;margin-right: 10px;margin-bottom:22px;" target="_blank" href="http://bbs.niu.com/thread-55579-1-1.html">查看免责条款详情&gt;</a>
                </div>
            </div>
        </div>



    </div>

    <div class="chengbaojine">
        <div class="jineCount">
            <p class="chengbaojinetext"><img src="/Content/Niucover/img/lipeibiaozhun.png" alt=""></p>
            
            <div class="jineBorder">
                <div class="one1">
                    <span class="span1 fll">服务内容</span>
                    <div class="box1 fll">
                        <span class="span2 fll">服务内容</span>
                        <span class="span3 fll">最高赔偿金额</span>
                    </div>
                </div>

                <div class="one2">
                    <span class="span1 fll">非机动车驾驶人意外伤害</span>
                    <div class="fll box1">
                        <p class="span2">
                            <span class="span2-1">意外伤害</span>
                            <span class="span2-2">50000元</span>
                        </p>
                        <p class="span3">
                            <span class="span2-1">意外医疗</span>
                            <span class="span2-2">5000元</span>
                        </p>
                    </div>
                </div>

                <div class="one2">
                    <span class="span1 fll">非机动车第三者责任</span>
                    <div class="fll box1">
                        <p class="span2">
                            <span class="span2-1">意外伤害</span>
                            <span class="span2-2">50000元</span>
                        </p>
                        <p class="span3">
                            <span class="span2-1">意外医疗</span>
                            <span class="span2-2">5000元</span>
                        </p>
                    </div>
                </div>


                <div class="one2 threeShow">
                    <span class="span1 fll threeShow">非机动车整车盗抢</span>
                    <div class="fll box1">
                        <p class="span2">
                            <span class="span2-1">N1都市版</span>
                            <span class="span2-2">3999元</span>
                        </p>
                        <p class="span2">
                            <span class="span2-1">N1动力版</span>
                            <span class="span2-2">4999元</span>
                        </p>

                        <p class="span2">
                            <span class="span2-1">M1青春版</span>
                            <span class="span2-2">3999元</span>
                        </p>
                        <p class="span2">
                            <span class="span2-1">M1都市版</span>
                            <span class="span2-2">4699元</span>
                        </p>
                        <p class="span2">
                            <span class="span2-1">M1动力版</span>
                            <span class="span2-2">5699元</span>
                        </p>
                        <p class="span2">
                            <span class="span2-1">M1顶配版</span>
                            <span class="span2-2">6999元</span>
                        </p>

                        <p class="span2">
                            <span class="span2-1">N1S城市版</span>
                            <span class="span2-2">5499元</span>
                        </p>
                        <p class="span2">
                            <span class="span2-1">N1S都市版</span>
                            <span class="span2-2">5899元</span>
                        </p>
                        <p class="span2">
                            <span class="span2-1">N1S动能版</span>
                            <span class="span2-2">6499元</span>
                        </p>
                        <p class="span2">
                            <span class="span2-1">N1S动力版</span>
                            <span class="span2-2">6899元</span>
                        </p>
                        <p class="span2">
                            <span class="span2-1">N1S顶配版</span>
                            <span class="span2-2">9999元</span>
                        </p>

                        <p class="span2">
                            <span class="span2-1">U1青春版</span>
                            <span class="span2-2">2999元</span>
                        </p>
                        <p class="span2">
                            <span class="span2-1">U1都市版</span>
                            <span class="span2-2">3499元</span>
                        </p>
                        <p class="span2">
                            <span class="span2-1">U1动力版</span>
                            <span class="span2-2">3899元</span>
                        </p>
                        <p class="span3">
                            <span class="span2-1">U1顶配版</span>
                            <span class="span2-2">5838元</span>
                        </p>

                    </div>
                </div>
                <p class="example" style="margin-top:16px;">
                    注：中国平安保险，绝对免赔额300元（绝对免赔额内的损失均由被保险人自己负责，保险公司只负责超过免赔额度之上且在赔偿限额之内的赔偿金额）
                </p>
                <p class="example" style="margin-top:12px;padding-left:24px;">中国人寿保险，以上意外医疗责任，必须按照责任划分赔款额度，无责任不能赔付，财物损失每次绝对免赔额300元，人伤每次事故绝对免赔100元，之后90%</p>
                <p class="example" style="padding-left:24px;">赔付（如有医保，医保先期赔付后索赔）。盗抢险责任，N1和M1(Pro除外)的绝对免赔额为人民币300元，之后100%赔付；M1Pro的绝对免赔额为人民币500</p>
                <p class="example" style="padding-left:24px;">元，之后100%赔付。</p>

            </div>
        </div>
        <table border="0" cellspacing="1" width="1058px">
            <caption>牛油保售价</caption>
            <thead>
                <tr>
                    <th colspan="2">绑定车型</th>
                    <th>单独售价（元/年）</th>
                    <th>随车售价（元/年）</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2">小牛电动N1</td>
                    <td>都市版</td>
                    <td>399（单人）/ 499（双人）</td>
                    <td>299（单人）/ 399（双人）</td>
                </tr>
                <tr>
                    <td>动力版</td>
                    <td>499（单人）/ 599（双人）</td>
                    <td>399（单人）/ 499（双人）</td>
                </tr>
                <tr>
                    <td rowspan="5">小牛电动M1</td>
                    <td>悦动版</td>
                    <td>339（单人）/ 439（双人）</td>
                    <td>239（单人）/ 339（双人）</td>
                </tr>
                <tr>
                    <td>青春版</td>
                    <td>399（单人）/ 499（双人）</td>
                    <td>299（单人）/ 399（双人）</td>
                </tr>
                <tr>
                    <td>都市版</td>
                    <td>469（单人）/ 569（双人）</td>
                    <td>369（单人）/ 469（双人）</td>
                </tr>
                <tr>
                    <td>动力版</td>
                    <td>569（单人）/ 669（双人）</td>
                    <td>469（单人）/ 569（双人）</td>
                </tr>
                <tr>
                    <td>顶配版</td>
                    <td>699（单人）/ 799（双人）</td>
                    <td>599（单人）/ 699（双人）</td>
                </tr>
                <tr>
                    <td rowspan="5">小牛电动N1S</td>
                    <td>城市版</td>
                    <td>549（单人）/ 649（双人）</td>
                    <td>449（单人）/ 549（双人）</td>
                </tr>
                <tr>
                    <td>都市版</td>
                    <td>589（单人）/ 689（双人）</td>
                    <td>489（单人）/ 589（双人）</td>
                </tr>
                <tr>
                    <td>动能版</td>
                    <td>649（单人）/ 749（双人）</td>
                    <td>549（单人）/ 649（双人）</td>
                </tr>
                <tr>
                    <td>动力版</td>
                    <td>689（单人）/ 789（双人）</td>
                    <td>589（单人）/ 689（双人）</td>
                </tr>
                <tr>
                    <td>顶配版</td>
                    <td>999（单人）/ 1099（双人）</td>
                    <td>899（单人）/ 999（双人）</td>
                </tr>
                <tr>
                    <td rowspan="4">小牛电动U1</td>
                    <td>青春版</td>
                    <td>299(单人）/ 399（双人）</td>
                    <td>199(单人）/ 299（双人）</td>
                </tr>
                <tr>
                    <td>都市版</td>
                    <td>349(单人）/ 449（双人）</td>
                    <td>249(单人）/ 349（双人）</td>
                </tr>
                <tr>
                    <td>动力版</td>
                    <td>389(单人）/ 489（双人）</td>
                    <td>289(单人）/ 389（双人）</td>
                </tr>
                <tr>
                    <td>顶配版</td>
                    <td>539(单人）/ 689（双人）</td>
                    <td>439(单人）/ 589（双人）</td>
                </tr>
            </tbody>
        </table>
        <p class="example" style="width:1058px;margin:20px auto;">
            注：
            以上方案每辆车承保两名驾驶员,记名投保，每人方案相同。
            仅承保每名驾驶员单独驾驶过程中的意外伤害和第三者责任，两名驾驶员同时乘车时出险不在保险范围内。
        </p>
    </div>


    <div class="doublegifts">
        <img src="/Content/Niucover/img/doublegifts.png" alt="" />
        <a class="doublegiftsbtn" href="http://www.niu.com/niucare">了解详情</a>
    </div>
    }

    @section FooterLink_Script{

   
    <script src="~/Content/Niucover/js/baoxian.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "/Content/Niucover/js/hm.js?2bd5252f20d08f5e7ee0bafd52e1d2cb";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script type='text/javascript'>
        (function (a, b, c, d) {
            a[c] = function () { a[c]['ar'] = a[c]['ar'] || []; a[c]['ar'].push(arguments); };
            var s = b.createElement('script'); s.async = 1; s.src = '/Content/Niucover/js/agt.js';
            var r = b.getElementsByTagName('script')[0]; r.parentNode.insertBefore(s, r);
        })(window, document, '_agtjs', 'script');
        _agtjs('init', 'AG_521723_RRTO', 'niu.com');
        _agtjs('trackPv');
    </script>
    <script>
        var _vds = _vds || []; window._vds = _vds; (function () { _vds.push(["setAccountId", "84188db5ccd9510f"]); (function () { var b = document.createElement("script"); b.type = "text/javascript"; b.async = true; b.src = ("https:" == document.location.protocol ? "https://" : "http://") + "/Content/Niucover/js/.js"; var a = document.getElementsByTagName("script")[0]; a.parentNode.insertBefore(b, a) })() })();
    </script>
}
