@{
    ViewBag.Title = "我的订单 - 小牛电动";
    Layout = "~/Views/Shared/New_Layout.cshtml";
}



    

@section HeadScript_Link{
    <link rel="stylesheet" href="//www.niucache.com/static/common/common_87417f32.css" />
<link rel="stylesheet" href="//www.niucache.com/static/home/page/n1_06eac47d.css" />
<link rel="stylesheet" href="//www.niucache.com/static/home/widget/my_order/my_order_9fc8ecf8.css" />
<link rel="stylesheet" href="//www.niucache.com/static/home/widget/usertip/usertip_04c7f319.css" />
}

@section HeadLink{
   <link rel="stylesheet" id="header_links" type="text/css" href="//www.niucache.com/static/common/widget/header2/style_1eb974a3.css" />
}
@section Niu_Header_C{
<div class="niu-header-c">
    <img class="img-loader" src="//www.niucache.com/static/common/widget/header2/images/logo_28139158.svg" />
    <header class="niu-header ">
        <div class="header-navCont">
            <a href="http://www.niu.com"><div class="header-brand"></div></a>
            <nav class="header-nav">
                <ul>
                    <li class="header-nav-collapse">
                        <a href="javascript:;">小牛电动</a>
                        <div class="collapse car-collapse">
                            <div class="car-collapse-content">
                                <ul>
                                    <li><a href="http://www.niu.com/u1" target="_blank"><img src="//www.niu.com/blank.gif" data-src="//www.niucache.com/static/common/widget/header2/images/u1-header_d4ab9a16.jpg"><span>U1</span></a></li>
                                    <li><a href="http://store.niu.com/m1" target="_blank"><img src="//www.niu.com/blank.gif" data-src="//www.niucache.com/static/common/widget/header2/images/m1-header_1139524b.jpg"><span>M1</span></a></li>
                                    <li><a href="http://store.niu.com/n1s" target="_blank"><img src="//www.niu.com/blank.gif" data-src="//www.niucache.com/static/common/widget/header2/images/n1-header_d387c5e9.jpg"><span>N1S</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a target="_blank" href="http://store.niu.com">商城</a></li>
                    <li class="header-nav-collapse">
                        <a href="javascript:;">授权体验店</a>
                        <div class="collapse expstore-collapse">
                            <div class="expstore-collapse-content">
                                <ul>
                                    <li><a href="http://service.niu.com/service/expstore/authorized" target="_blank"><img src="//www.niu.com/blank.gif" data-src="//www.niucache.com/static/common/widget/header2/images/expstore1_0c44c6f4.jpg"><span>授权体验店</span></a></li>
                                    <li><a href="http://service.niu.com/service/expstore/maintenance" target="_blank"><img src="//www.niu.com/blank.gif" data-src="//www.niucache.com/static/common/widget/header2/images/expstore2_e1f47251.jpg"><span>服务维修中心</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="header-nav-collapse">
                        <a target="_blank" href="http://www.niu.com/service/hall/">服务</a>
                        <div class="collapse service-collapse">
                            <div class="service-collapse-content">
                                <ul>
                                    <li>
                                        <a target="_blank" href="http://www.niu.com/niucare">
                                            <div class="service-collapse-content-icon service-care-icon">

                                            </div>
                                            <div class="service-collapse-content-title">
                                                <p>NIU CARE</p>
                                                <p>保养计划</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="https://www.niu.com/niucover">
                                            <div class="service-collapse-content-icon service-insurence-icon">

                                            </div>
                                            <div class="service-collapse-content-title">
                                                <p>牛油保</p>
                                                <p>人车保险</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="http://service.niu.com/expstore/authorized">
                                            <div class="service-collapse-content-icon service-locate-icon">

                                            </div>
                                            <div class="service-collapse-content-title">
                                                <p>授权体验店</p>
                                                <p>查找线下服务</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a target="_blank" href="http://bbs.niu.com">社区</a></li>
                    <li><a class="hundmilicon" target="_blank" href="http://hd.niu.com/1"><img src="//www.niucache.com/static/common/widget/header2/images/hundmilIcon2_3e23c8ba.png" title="一亿公里"></a></li>
                </ul>
            </nav>
            <div class="header-right">
                <ul class="header-link">
                    <li class="header-link-item" id="head_menu_userstatus">
                        <a href="javascript:;"><i class="icon-profile"></i></a>
                    </li>
                    <li class="header-link-item" id="head_menu_cartlist">
                        <a target="_blank" href="http://www.niu.com/cart"><i class="icon-cart"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <header class="niu-header-m">
        <nav class="header-nav shadow J_headerNav">
            <div class="header-nav-box">
                <div class="header-nav-menu">
                    <div class="header-nav-menu-bread J_bread">
                        <span class="header-nav-menu-bread-t">
                            <span class="header-nav-menu-bread-crack"></span>
                        </span>
                        <span class="header-nav-menu-bread-m">
                            <span class="header-nav-menu-bread-crack"></span>
                        </span>
                        <span class="header-nav-menu-bread-b">
                            <span class="header-nav-menu-bread-crack"></span>
                        </span>
                    </div>
                </div>
                <a class="header-nav-logo" href="https://m.niu.com">
                    <span></span>
                </a>
                <a class="header-nav-user" href="https://m.niu.com/center/"><i class="icon-profile"></i></a>
                <a class="header-nav-cart" href="https://m.niu.com/cart/"><i class="icon-cart"></i></a>
            </div>
        </nav>
        <div class="mheaderMenu-layer J_menuLayer">
            <ul class="mheaderMenu-layer-list">
                <li class="J_menuItem mheaderMenu-layer-list-item animt-rtl delay10" data-target="https://m.niu.com/n1s/">小牛电动 N1S</li>
                <li class="J_menuItem mheaderMenu-layer-list-item animt-rtl delay15" data-target="https://m.niu.com/m1/">小牛电动 M1</li>
                <li class="J_menuItem mheaderMenu-layer-list-item animt-rtl delay20" data-target="http://www.niu.com/u1/">小牛电动 U1</li>
                <li class="J_menuItem mheaderMenu-layer-list-item animt-rtl delay25" data-target="https://m.niu.com/store/">小牛商城</li>
                <li class="J_menuItem mheaderMenu-layer-list-item animt-rtl delay30" data-target="https://m.niu.com/niucover/">牛油保</li>
                <li class="J_menuItem mheaderMenu-layer-list-item animt-rtl delay35" data-target="http://bbs.niu.com/">社区</li>
                <li class="J_menuItem mheaderMenu-layer-list-item animt-rtl delay40" data-target="https://m.niu.com/expstore/">网点</li>
            </ul>
        </div>
    </header>
</div>

    }
@section Body{









    <section class="myOrder">

        <div class="userPanel">

            <div class="usertip active1">
                <div class="head">
                    <img class="myHead" src="//www.niucache.com/static/home/widget/usertip/myHead_2556d7ed.jpg" alt="">
                </div>

                <a class="active1" href="http://www.niu.com/order/my">我的订单</a>
                <a class="active2" href="http://www.niu.com/service/subscribe">我的体验</a>
                <a class="active3" href="/address/list">我的地址</a>
                <a class="active4" href="#" id="changePwd">修改密码</a>
                <a class="active5" href="/order/zhongchou/">众筹订单</a>
            </div>

        </div>
        <div class="orderGroup">
            <div class="orderGroup-title">
                <ul>
                    <li class="orderGroup-title-item active" data-group="">
                        全部订单
                        <span class="arrow-up"><i></i></span>
                    </li>
                    <li class="orderGroup-title-item" data-group="daifukuan">
                        待付款
                        <span class="arrow-up"><i></i></span>
                    </li>
                    <li class="orderGroup-title-item" data-group="wancheng">
                        已完成
                        <span class="arrow-up"><i></i></span>
                    </li>
                    <li class="orderGroup-title-item" data-group="tuihuanhuo">
                        退换货
                        <span class="arrow-up"><i></i></span>
                    </li>
                </ul>
            </div>
            <div id="orderGroupList" class="orderGroup-list">
                <div id="orderItem"></div>
            </div>
            <div class="loadinggif"></div>
        </div>

    </section>
    <div class="niu-mask"></div>
    <div class="niu-dialog">
        <div class="niu-dialog-head">提示</div>
        <div class="niu-dialog-body">
            <p></p>
        </div>
        <div class="niu-dialog-foot">
            <span class="niu-btn niu-btn-middle niu-btn-red niu-dialog-confirm">确认</span>
            <span class="niu-btn niu-btn-middle niu-btn-gray niu-dialog-cancel">取消</span>
        </div>
        <span style="display:none;" class="niu-dialog-close"></span>
    </div>









}


    @section FooterLink_Script{




    <script type="text/javascript" src="//dn-bughd-web.qbox.me/bughd.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        window.bughd = window.bughd || function () { };
        bughd("create", { key: "ec0399cd9efd19e4ed66a94c56fd4bc6" });
    </script>
    <script type="text/javascript" src="//www.niucache.com/static/common/common_00b45ee5.js"></script>
    <script type="text/javascript" src="//www.niucache.com/static/home/widget/my_order/my_order_f09f805a.js"></script>
    <script type="text/javascript" src="//www.niucache.com/static/home/widget/usertip/usertip_7dd9a5ff.js"></script>
    <script type="text/javascript">
        !function () {

            require.async("common:widget/header2/header.js");
            require.async("common:widget/headerCart/headerCart.js");
            require.async("common:widget/headerUserStatus/headerUserStatus.js");
        }();
        !function () {
            require.async("home:widget/usertip/usertip.js");
        }();
        !function () {
            require.async("home:widget/my_order/my_order.js");
        }();
        !function () {
            require.async("common:widget/footer/footer.js");
        }();</script>
    }



