@{
    ViewBag.Title = "授权体验店 - 小牛电动";
    Layout = "~/Views/Shared/New_Layout.cshtml";
}



@section HeadScript_Link{

    <!--[if lt IE 9]>
        <script src="//service.niucache.com/static/common/static/common/lib/html5shiv_23e126e6.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="//service.niucache.com/static/common/common_66afa903.css" />
    <link rel="stylesheet" href="/static/service/widget/expstore/authorized/index_f7278541.css" />
}




@section HeadLink{



    <link rel="stylesheet" id="header_links" type="text/css" href="//service.niucache.com/static/common/widget/header2/style_5aff1c8e.css" />
    }

    <!--[if lt IE 9]>
    <script>
    (function(w){
      var doc = w.document, docElem = doc.documentElement,
        head = doc.getElementsByTagName("head")[0] || docElem,
        linkEle = doc.getElementById('header_links');
        linkEle.parentNode.removeChild(linkEle);
        head.insertBefore(linkEle,head.lastChild);
    })(window);
    </script>
    <script src="//service.niucache.com/static/common/static/common/lib/respond_b890fb80.js"></script>
    <![endif]-->




@section Body{

    <div class="authorized">
        <div class="auth-banner">
            <div class="auth-banner-c">
                <p class="p1">授权店</p>
                <p class="p2">查找小牛电动授权店</p>
                <div class="searchBox icon-search">
                    <input id="searchKey" type="text" placeholder="请输入您要搜索的城市">
                </div>
                <div class="searchList">
                    <ul class="J_searchCont"></ul>
                </div>
            </div>
        </div>
        <div class="J_infoCont auth-store">
            <div class="auth-store-c">
                <div class="J_storeInfo auth-store-info"></div>
                <div class="auth-store-map">
                    <div id="container" class="mapContiner"></div>
                </div>
            </div>
        </div>
        <div class="auth-info">
            <div style="margin-top: 154px;">
                <img style="width:100%;" src="/static/service/widget/expstore/authorized/images/img1_ba11543f.png">
            </div>
            <div style="margin-top: 154px;height: 400px;">
                <p style="width: 263px;height: 120px;margin-top: 150px;margin-left: 97px;">
                    小牛电动授权体验店是小牛公司授权开设的线下实体店，集销售展示、售后维系、顾客体验、用户聚会于一体。
                </p>
            </div>
            <div style="text-align: right;">
                <p style="width: 396px;height: 50px;float: right;margin-top: 90px;margin-bottom: 30px;">
                    授权体验店为您提供良好的购物环境和售后服务。
                    也为“牛油”们提供一个聚会场所。
                </p>
                <img style="width:555px;" src="/static/service/widget/expstore/authorized/images/img2_fe461a78.png">
            </div>
            <div style="">
                <img style="width:555px;margin-top: 176px;" src="/static/service/widget/expstore/authorized/images/img3_763d89c5.png">
            </div>
        </div>
        <div class="auth-foot">
            <div class="auth-foot-l">
                <a href="/expstore/apply.html" class="link1">加盟授权体验店</a>
                <a href="/service/expstore/all" class="link2 icon-right">查看全部线下门店</a>
            </div>
            <img src="/static/service/widget/expstore/authorized/images/img4_d7311873.png">
        </div>
    </div>
    <script type="text/javascript" src="//webapi.amap.com/maps?v=1.3&key=554481b4d81d2abc7e4ff42a28032d2e"></script>

}




    

@section FooterLink_Script{





    <script type="text/javascript" src="//dn-bughd-web.qbox.me/bughd.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        window.bughd = window.bughd || function () { };
        bughd("create", { key: "ec0399cd9efd19e4ed66a94c56fd4bc6" });
    </script>
    <script type="text/javascript" src="//service.niucache.com/static/common/common_00b45ee5.js"></script>
    <script type="text/javascript" src="//service.niucache.com/static/common/widget/plugin/remote/remote_cdf6d669.js"></script>
    <script type="text/javascript" src="/static/service/widget/expstore/authorized/index_aa5ee262.js"></script>
    <script type="text/javascript">
!function () {

    require.async("common:widget/header2/header.js");
    require.async("common:widget/headerCart/headerCart.js");
    require.async("common:widget/headerUserStatus/headerUserStatus.js");
}();
        !function () {
            require.async('service:widget/expstore/authorized/index.js');
        }();
        !function () {
            require.async("common:widget/footer/footer.js");
        }();</script>
}








