@{
    ViewBag.Title = "小牛电动 U1 － 小牛官网";
    Layout = "~/Views/Shared/New_Layout.cshtml";
}





    @section HeadScript_Link{
   
    <link rel="stylesheet" href="//store.niucache.com/static/common/common_6c4817c9.css" />
    <link rel="stylesheet" href="//store.niucache.com/static/common/static/niucontrol/niucontrol_06eac47d.css" />
    <link rel="stylesheet" href="//store.niucache.com/static/store/widget/buy/u1/index_e6f3f974.css" />
    <link rel="stylesheet" href="//store.niucache.com/static/store/widget/widgets/productImgView/productImgView_00d88acb.css" />
    }

    @section HeadLink{

    <link rel="stylesheet" id="header_links" type="text/css" href="//store.niucache.com/static/common/widget/header2/style_6965f5af.css" />
    }
    
  


@section Body{







    <section class="buyCar">

        <section class="storeDetail">
            <div class="storeDetail-intro">
                <article class="storeDetail-intro-view J_bigImgBlock">


                    <article class="storeDetail-intro-view J_bigImgBlock">
                        <div class="storeDetail-intro-view-bigImg">
                            <ul>

                                <li>
                                    <div class="img-box" style='padding: 1px;'>
                                        <img src="https://img.niucache.com/0C6380D3A3C4419380A609CE3EBC8865.jpg" alt="" />
                                    </div>
                                </li>

                                <li>
                                    <div class="img-box" style='padding: 1px;'>
                                        <img src="https://img.niucache.com/EDAE8599A0B64CAFADB1CB9666717DE6.jpg" alt="" />
                                    </div>
                                </li>

                                <li>
                                    <div class="img-box" style='padding: 1px;'>
                                        <img src="https://img.niucache.com/4DB8455313B748D683842B62719A3252.jpg" alt="" />
                                    </div>
                                </li>

                                <li>
                                    <div class="img-box" style='padding: 1px;'>
                                        <img src="https://img.niucache.com/55285B9C5A374FC1B906F2C1572204DC.jpg" alt="" />
                                    </div>
                                </li>

                                <li>
                                    <div class="img-box" style='padding: 1px;'>
                                        <img src="https://img.niucache.com/97FEE58F787847F391F2FCBCA3AC8B91.jpg" alt="" />
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </article>


                </article>
                <article class="storeDetail-intro-options">
                    <div class="storeDetail-intro-options-c">
                        <h1 class="storeDetail-intro-options-c-name">
                            <span class="J_productName">小牛电动NIU U1 锂电电动车</span><a target="_blank" href="http://www.niu.com/u1">进一步了解<i class="icon-right"></i></a>
                        </h1>
                        <span class="storeDetail-intro-options-c-des"></span>
                        <dl class="storeDetail-intro-options-c-o">
                            <dt>价格</dt>
                            <dd class="J_price storeDetail-intro-options-c-o-price">￥2999</dd>
                            <dt>版本</dt>
                            <dd class="storeDetail-intro-options-c-o-version">

                                <span class="J_version" data-version="都市版">都市版</span>
                                <span class="J_version" data-version="动力版">动力版</span>
                                <span class="J_version" data-version="青春版">青春版</span>

                                <a target="_blank" href="http://www.niu.com/u1/params">参数对比</a>
                            </dd>
                            <dt>颜色</dt>
                            <dd class="storeDetail-intro-options-c-o-color">

                                <span class="J_color w" data-color="白色"></span>
                                <span class="J_color r" data-color="红色"></span>
                                <span class="J_color lb" data-color="蓝色"></span>
                                <span class="J_color p" data-color="紫色"></span>



                            </dd>
                            <dt>数量</dt>
                            <dd>
                                <div class="storeDetail-intro-options-c-o-qty">
                                    <input class="J_inputQty" type="text" readonly value="1">
                                    <span class="J_add icon-up"></span>
                                    <span class="J_sub icon-down"></span>
                                </div>
                            </dd>
                            <dt>牛油保</dt>
                            <dd class="storeDetail-intro-options-c-o-service">
                                <span class="J_niucover icon-check active niucoverCheck" data-type="singleCover"></span>
                                单人 <span class="J_singleCoverSalePrice">399</span>元/年（原价<span class="J_singleCoverRetailPrice">499</span>元/年）
                            </dd>
                            <dt></dt>
                            <dd class="storeDetail-intro-options-c-o-service">
                                <span class="J_niucover icon-check niucoverCheck" data-type="doubleCover"></span>
                                双人 <span class="J_doubleCoverSalePrice">399</span>元/年（原价<span class="J_doubleCoverRetailPrice">499</span>元/年）
                                <a target="_blank" href="http://www.niu.com/niucover">了解详情</a>
                            </dd>
                        </dl>
                        <div class="storeDetail-intro-options-c-btn">
                            <span class="J_addCart disabled" id="baidutj-buyN1S" data-target="http://www.niu.com/yuyue/n1s"><i class="icon-cart"></i>加入购物车</span>
                        </div>
                        <div class="storeDetail-intro-options-c-tips">
                            <span>运费248元。<br>随车可享优惠购买牛油保服务。</span><br>
                            客服电话400-6388-666，周一至周日6:00-21:00<br>
                            (仅收市话费)。
                        </div>
                    </div>
                </article>
            </div>
        </section>

        <section class="buyN1S-bottomImgs">
            <div class="buyN1S-bottomImgs-b">
                <span>进一步了解 小牛电动U1</span>
                <a target="_blank" href="http://www.niu.com/u1">访问U1介绍页面<i class="icon-right"></i></a>
            </div>
            <div class="buyN1S-bottomImgs-pt">
                <h1>主要参数<span>Tech Specs</span></h1>
                <a target="_blank" href="http://www.niu.com/u1/params">查看完整参数<i class="icon-right"></i></a>
                <img src="//store.niucache.com/static/store/widget/buy/u1/images/spec_b4314513.jpg">

                <h1>牛油保<span>NIU Cover</span></h1>
                <a target="_blank" href="http://www.niu.com/niucover">了解详情<i class="icon-right"></i></a>
                <img src="//store.niucache.com/static/store/widget/buy/u1/images/niucover_bd3ab265.png">

                <h1>购买须知<span>Notice</span></h1>
                <a target="_blank" href="http://service.niu.com/service-politics/">查看详细服务条款<i class="icon-right"></i></a>
                <img src="//store.niucache.com/static/store/widget/buy/u1/images/goumaixuzhi_7cc40987.jpg">
            </div>
        </section>


    </section>




   }



@section FooterLink_Script{


    <script type="text/javascript" src="//dn-bughd-web.qbox.me/bughd.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        window.bughd = window.bughd || function () { };
        bughd("create", { key: "ec0399cd9efd19e4ed66a94c56fd4bc6" });
    </script>
    <script type="text/javascript" src="//store.niucache.com/static/common/common_00b45ee5.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/common/widget/plugin/remote/remote_cdf6d669.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/store/widget/plugin/cart/cart_88e98641.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/store/widget/buy/u1/index_643a7f71.js"></script>
    <script type="text/javascript" src="//store.niucache.com/static/store/widget/widgets/productImgView/productImgView_28bd4b1f.js"></script>
    <script type="text/javascript">
!function () {

    require.async("common:widget/header2/header.js");
    require.async("common:widget/headerCart/headerCart.js");
    require.async("common:widget/headerUserStatus/headerUserStatus.js");
}();
        !function () {
            require.async("store:widget/widgets/productImgView/productImgView.js");
        }();
        !function () {
            require.async("store:widget/buy/u1/index.js", function (pageDetail) {
                var PRODUCTDETAIL = { "product": { "spuId": 133, "name": "小牛电动NIU U1 锂电电动车", "productPriceLowest": 2999, "productPriceHighest": 3899 }, "optionImagesList": { "optionName": "颜色", "list": { "红色": ["https://img.niucache.com/A20E373F081F4749BDEAD4F3B801BB6D.jpg", "https://img.niucache.com/47D5E02BDD3B4029B748A960A639E8AC.jpg", "https://img.niucache.com/DECF1985FCF845E98866532D1668234F.jpg", "https://img.niucache.com/04DD6AF0F8BF46CAAEBFAD01BDA62B44.jpg", "https://img.niucache.com/72888B8B89694A8888455D3FB9720599.jpg"], "蓝色": ["https://img.niucache.com/0C6380D3A3C4419380A609CE3EBC8865.jpg", "https://img.niucache.com/EDAE8599A0B64CAFADB1CB9666717DE6.jpg", "https://img.niucache.com/4DB8455313B748D683842B62719A3252.jpg", "https://img.niucache.com/55285B9C5A374FC1B906F2C1572204DC.jpg", "https://img.niucache.com/97FEE58F787847F391F2FCBCA3AC8B91.jpg"], "白色": ["https://img.niucache.com/4D646FE4E72142FA9DD26DC1C6CA9B67.jpg", "https://img.niucache.com/40609B5C786E41E3AA53E309AFF24CD0.jpg", "https://img.niucache.com/D413C982108A409C98E9B4176F5FDFC2.jpg", "https://img.niucache.com/2E8E2B777AF84E308A57D6B0DBDDA809.jpg", "https://img.niucache.com/848823CD49844F9AA2C16BE95E1EC8D9.jpg"], "紫色": ["https://img.niucache.com/8E12847977ED4838A306FED990EAC0AF.jpg", "https://img.niucache.com/BDD0233323E3482E8D916C40C08ADBB7.jpg", "https://img.niucache.com/5838CDD719E147BE8DA93990579F12D6.jpg", "https://img.niucache.com/FC377226907A4D198EAF62ED77BE9793.jpg", "https://img.niucache.com/7F5B634DCC1546AA904DBD5DA887264C.jpg"] } }, "skus": [{ "skuId": 566, "skuNumber": "", "name": "小牛电动NIU U1 青春蓝", "price": { "salePrice": 2999, "retailPrice": 2999 }, "fulfillmentType": "RIRISHUN", "options": { "颜色": "蓝色", "型号": "青春版" }, "singleCover": { "skuId": 580, "salePrice": 199, "retailPrice": 299 }, "doubleCover": { "skuId": 589, "salePrice": 299, "retailPrice": 399 }, "颜色": "蓝色", "型号": "青春版" }, { "skuId": 567, "skuNumber": "NU01U1CP", "name": "小牛电动NIU U1 都市紫", "price": { "salePrice": 3499, "retailPrice": 3499 }, "fulfillmentType": "RIRISHUN", "options": { "型号": "都市版", "颜色": "紫色" }, "singleCover": { "skuId": 581, "salePrice": 249, "retailPrice": 349 }, "doubleCover": { "skuId": 590, "salePrice": 349, "retailPrice": 449 }, "型号": "都市版", "颜色": "紫色" }, { "skuId": 568, "skuNumber": "NU01U1CB", "name": "小牛电动NIU U1 都市蓝", "price": { "salePrice": 3499, "retailPrice": 3499 }, "fulfillmentType": "RIRISHUN", "options": { "颜色": "蓝色", "型号": "都市版" }, "singleCover": { "skuId": 581, "salePrice": 249, "retailPrice": 349 }, "doubleCover": { "skuId": 590, "salePrice": 349, "retailPrice": 449 }, "颜色": "蓝色", "型号": "都市版" }, { "skuId": 569, "skuNumber": "NU01U1CR", "name": "小牛电动NIU U1 都市红", "price": { "salePrice": 3499, "retailPrice": 3499 }, "fulfillmentType": "RIRISHUN", "options": { "颜色": "红色", "型号": "都市版" }, "singleCover": { "skuId": 581, "salePrice": 249, "retailPrice": 349 }, "doubleCover": { "skuId": 590, "salePrice": 349, "retailPrice": 449 }, "颜色": "红色", "型号": "都市版" }, { "skuId": 570, "skuNumber": "NU01U1LR", "name": "小牛电动NIU U1 青春红", "price": { "salePrice": 2999, "retailPrice": 2999 }, "fulfillmentType": "RIRISHUN", "options": { "颜色": "红色", "型号": "青春版" }, "singleCover": { "skuId": 580, "salePrice": 199, "retailPrice": 299 }, "doubleCover": { "skuId": 589, "salePrice": 299, "retailPrice": 399 }, "颜色": "红色", "型号": "青春版" }, { "skuId": 571, "skuNumber": "NU01U1PB", "name": "小牛电动NIU U1 动力蓝", "price": { "salePrice": 3899, "retailPrice": 3899 }, "fulfillmentType": "RIRISHUN", "options": { "颜色": "蓝色", "型号": "动力版" }, "singleCover": { "skuId": 582, "salePrice": 289, "retailPrice": 389 }, "doubleCover": { "skuId": 591, "salePrice": 389, "retailPrice": 489 }, "颜色": "蓝色", "型号": "动力版" }, { "skuId": 572, "skuNumber": "NU01U1LW", "name": "小牛电动NIU U1 青春白", "price": { "salePrice": 2999, "retailPrice": 2999 }, "fulfillmentType": "RIRISHUN", "options": { "颜色": "白色", "型号": "青春版" }, "singleCover": { "skuId": 580, "salePrice": 199, "retailPrice": 299 }, "doubleCover": { "skuId": 589, "salePrice": 299, "retailPrice": 399 }, "颜色": "白色", "型号": "青春版" }, { "skuId": 573, "skuNumber": "", "name": "小牛电动NIU U1 青春紫", "price": { "salePrice": 2999, "retailPrice": 2999 }, "fulfillmentType": "RIRISHUN", "options": { "颜色": "紫色", "型号": "青春版" }, "singleCover": { "skuId": 580, "salePrice": 199, "retailPrice": 299 }, "doubleCover": { "skuId": 589, "salePrice": 299, "retailPrice": 399 }, "颜色": "紫色", "型号": "青春版" }, { "skuId": 574, "skuNumber": "NU01U1PW", "name": "小牛电动NIU U1 动力白", "price": { "salePrice": 3899, "retailPrice": 3899 }, "fulfillmentType": "RIRISHUN", "options": { "颜色": "白色", "型号": "动力版" }, "singleCover": { "skuId": 582, "salePrice": 289, "retailPrice": 389 }, "doubleCover": { "skuId": 591, "salePrice": 389, "retailPrice": 489 }, "颜色": "白色", "型号": "动力版" }, { "skuId": 575, "skuNumber": "NU01U1PR", "name": "小牛电动NIU U1 动力红", "price": { "salePrice": 3899, "retailPrice": 3899 }, "fulfillmentType": "RIRISHUN", "options": { "颜色": "红色", "型号": "动力版" }, "singleCover": { "skuId": 582, "salePrice": 289, "retailPrice": 389 }, "doubleCover": { "skuId": 591, "salePrice": 389, "retailPrice": 489 }, "颜色": "红色", "型号": "动力版" }, { "skuId": 576, "skuNumber": "NU01U1PP", "name": "小牛电动NIU U1 动力紫", "price": { "salePrice": 3899, "retailPrice": 3899 }, "fulfillmentType": "RIRISHUN", "options": { "型号": "动力版", "颜色": "紫色" }, "singleCover": { "skuId": 582, "salePrice": 289, "retailPrice": 389 }, "doubleCover": { "skuId": 591, "salePrice": 389, "retailPrice": 489 }, "型号": "动力版", "颜色": "紫色" }, { "skuId": 577, "skuNumber": "NU01U1CW", "name": "小牛电动NIU U1 都市白", "price": { "salePrice": 3499, "retailPrice": 3499 }, "fulfillmentType": "RIRISHUN", "options": { "颜色": "白色", "型号": "都市版" }, "singleCover": { "skuId": 581, "salePrice": 249, "retailPrice": 349 }, "doubleCover": { "skuId": 590, "salePrice": 349, "retailPrice": 449 }, "颜色": "白色", "型号": "都市版" }, { "skuId": 664, "skuNumber": "NU01U1LT", "name": "小牛电动NIU U1 青春白 载人套装", "price": { "salePrice": 3198, "retailPrice": 3198 }, "fulfillmentType": "RIRISHUN", "options": { "颜色": "白色", "型号": "青春版" }, "singleCover": { "skuId": 580, "salePrice": 199, "retailPrice": 299 }, "doubleCover": { "skuId": 589, "salePrice": 299, "retailPrice": 399 }, "颜色": "白色", "型号": "青春版" }], "defaultSku": { "skuId": 566, "skuNumber": "", "name": "小牛电动NIU U1 青春蓝", "price": { "salePrice": 2999, "retailPrice": 2999 }, "fulfillmentType": "RIRISHUN", "options": { "颜色": "蓝色", "型号": "青春版" }, "singleCover": { "skuId": 580, "salePrice": 199, "retailPrice": 299 }, "doubleCover": { "skuId": 589, "salePrice": 299, "retailPrice": 399 }, "颜色": "蓝色", "型号": "青春版" }, "description": [{ "title": "商品介绍", "descriptionType": "INTRODUCTION_MOBILE", "description": "<p><img data-src=\"https://img.niucache.com/F287D1ECFC45407AAC42C4D7291E0E8C.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/45C6C1EE553A44088299773358F32F94.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/50D9DEB9EE6648ACA4398E9582943BBF.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/422934B6755C4C03801E526D9C1ED4D3.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/22328E832F3E4F8E9D79CE493B8BC70F.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/ECA6D961877B428AAEC8E770FF403E0D.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/2664FA2EB54B493D804B970317C71E98.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/35FFD01B55CD469DA9CE4EE62FC65C4F.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/C4E09E5ABAB244139DE9C9F82958595B.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/C7D57D9F0EF6491E851320CD728F89E5.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/78D4D07C826D43FB95CD46376047C1DE.jpg\" title=\"\" alt=\"\"/></p>" }, { "title": "详细参数", "descriptionType": "PARAMETERS_MOBILE", "description": "<p><img data-src=\"https://img.niucache.com/32EB1F742BF54F57B44D74E37CD6D4A5.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/4B909AF0C71145D386646C5AE51292D9.jpg\" title=\"\" alt=\"\"/><img data-src=\"http://img.niucache.com/987B557E81E14747B2DD238E9E53917B.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/A31BDA93D86C48A1A889FBA9D709DBE1.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/C4617243D9294CA1826AEC607BB18EAC.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/A48870C9AA4640B3BB20BE97EE628110.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/98830054061D4ADFA0C29230E56F745F.jpg\" title=\"\" alt=\"\"/><img data-src=\"https://img.niucache.com/1402BD8AB8804B4C85E010E4C741B1B0.jpg\" title=\"\" alt=\"\"/></p>" }, { "title": "售后政策", "descriptionType": "AFTERPOLICY_MOBILE", "description": "" }], "mainOption": "型号", "options": [{ "optionName": "型号", "optionValues": ["动力版", "都市版", "青春版"] }, { "optionName": "颜色", "optionValues": ["红色", "蓝色", "白色", "紫色"] }] };
                pageDetail.init({ PRODUCTDETAIL: PRODUCTDETAIL });
            });
        }();
        !function () {
            require.async("common:widget/footer/footer.js");
        }();</script>
}








