@{
    ViewBag.Title = "小牛电动 N1S － 小牛电动";
    Layout = "~/Views/Shared/New_Layout.cshtml";
}


@section HeadScript_Link{
   <!--[if lt IE 9]>
    <script src="//store.niucache.com/static/common/static/common/lib/html5shiv_23e126e6.js"></script>
<![endif]-->
<link rel="stylesheet" href="//store.niucache.com/static/common/common_6c4817c9.css" />
<link rel="stylesheet" href="//store.niucache.com/static/store/widget/products/n1s/common_fe9cfe84.css" />
<link rel="stylesheet" href="//store.niucache.com/static/store/widget/products/n1s/index_47784375.css" />

}

@section HeadLink{
  <script>
    (function () {
        var o = navigator.userAgent,
                r = function (r) {
                    return o.indexOf(r) > -1
                };
        if ((r("Android") && r("Mobile") || r("iPhone") || r("iPod") || r("Symbian") || r("IEMobile") || r("MI PAD"))) {
            location.href = "http://m.niu.com";
        }
    })();
</script>


<link rel="stylesheet" id="header_links" type="text/css" href="//store.niucache.com/static/common/widget/header2/style_6965f5af.css" />
}

@section Body{
    <input type="hidden" class='J_niufont' data-class='niu-font' value='PingFang Light'>
<input type="hidden" class='J_niufont' data-class='niu-num-font' value='DINOffcPro-CondLight'>
<input type="hidden" class='J_niufont' data-class='niu-num-light' value='DINOffcPro-Extlight'>
<span class='hide niu-num-font'>
    ABCDEFGHIJKLM
    NOPQRSTUVWXYZ
    abcdefghijklm
    nopqrstuvwxyz
    1234567890%.
</span>
<span class='hide niu-num-light'>
    ABCDEFGHIJKLM
    NOPQRSTUVWXYZ
    abcdefghijklm
    nopqrstuvwxyz
    1234567890%.
</span>
<div class="n1s-energey">
    <div class="section-head">
        <div class="abs-text">
            <h1 class="title niu-font">
                小牛电动 <span class='niu-num'>N1S</span>
            </h1>
            <h4 class="sub-title niu-font">
                <span class='niu-num'>120KM<sup>*</sup> </span> 超长续航锂电智能电动车
            </h4>
            <p class="price  niu-font">
                都市版 <span class='niu-num'>5899</span> 元 &nbsp;&nbsp;|&nbsp;&nbsp; 动力版 <span class='niu-num'>6899</span> 元
            </p>
            <p class="price  niu-font">
                城市版 <span class='niu-num'>5499</span> 元 &nbsp;&nbsp;&nbsp;&nbsp;  <span class='niu-num'></span>
            </p>
            <div class="link-href">
                <a href="http://store.niu.com/buy/n1s" target='_blank'>立即购买 &gt;</a>
            </div>
            <div class="link-href">
                <span>*详情咨询授权体验店</span>
            </div>
            <p class="info">
                * 在选配 60v34ah 电池后，在骑行者 50kg，电池温度 40°，20km/h 的情况下，匀速不间断骑行的情况下实测可达 120km 的续航。实际续航受载重、温度、风速、路面、操作习惯情况等多种因素影响。
            </p>
        </div>
        <p class="spe">*全新N1S上线，产品实物可能与部分宣传图片有细微差别，请以实物为准。</p>
    </div>

    <div class="nav-product J_navBar">
        <div class="nav-block J_navBlock">
            <div class="container clearfix">
                <div class="left-block clearfix">
                    <a href="/n1s/index" class='link-block current '>
                        更长的续航
                    </a>
                    <a href="/n1s/easy" class='link-block  '>
                        更轻巧的操控
                    </a>
                    <a href="/n1s/safety" class='link-block  '>
                        更安全的骑乘
                    </a>
                    <a href="/n1s/design" class='link-block   '>
                        更实用的设计
                    </a>
                    <a href="/n1s/smart" class='link-block   '>
                        更贴心的智能
                    </a>
                </div>
                <div class="right-block clearfix">
                    <a href="/n1s/specs" class='  ' target='_blank'>
                        参&nbsp;数
                    </a>
                    <!--<a  class="btn btn-buy" href="http://www.niu.com/yuyue/n1s" target='_blank'>立即预约</a>-->
                    <a class="btn btn-buy" href="http://store.niu.com/buy/n1s" target='_blank'>立即购买</a>
                </div>
            </div>
        </div>
    </div>


    <div class="section section-super">
        <div class="abs-text">
            <h2 class="title niu-font">
                远至 120KM<sup>*</sup> 的超长续航
            </h2>
            <h4 class="sub-title niu-font">
                自由穿梭城市之间，解放里程忧虑。
            </h4>
            <p class="content">
                无论上下班通勤或者周末郊游，N1S 都会是陪在身边的忠实伙伴。突破性的 120KM<sup>*</sup> 超长续航，确保可以在城市内自由穿梭。这不仅是技术上的突破，更是对出行生活的一种解放，换个方式，重新体会城市生活的美好吧。
            </p>
            <div class="info">
                * 都市版N1S在选配 34ah 电池后，在骑行者 50kg，室外温度25°，20km/h 的情况下，匀速不间断骑行的情况下实测可达 120km 的续航。实际续航受载重、温度、风速、路面、操作习惯情况等多种因素影响。
            </div>
        </div>
        <div class="super-car-img J_carImg">
        </div>
        <div class="super-num-block niu-num-light ">
            <b class='J_carNum' data-num='120'></b> <span></span>
        </div>
    </div>
    <div class="section section-more-big J_moreBig ">
        <div class="J_tarBag tar-line"></div>
        <div class="abs-text big-a">
            <div class="text-a">
                <h2 class="title niu-font">
                    高能超大容量锂电池包<br>更大容量，更远续航
                </h2>
                <p class="content">
                    电池的电能容量在很大程度上决定了整车的续航里程，电量越大，续航里程也就越远。小牛电动 N1S 可升级配置超大增程锂电池，34Ah 的配置内含 2040wh 的电能，在如此精巧的电池中蕴藏高达2度的电能，给小牛电动 N1S 提供充分的能量来源。

                </p>
                <ul class="circle-list clearfix">
                    <li class='super-big-num'>
                        <h3 class="c-tit">
                            超大容量
                        </h3>
                        <p class="c-cont niu-num">
                            <span class="">2040</span> Wh
                        </p>
                    </li>
                    <li>
                        <h3 class="c-tit">
                            锂电电芯
                        </h3>
                        <p class="c-cont niu-num">
                            <span class="">170</span> 节
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="abs-text big-b">
            <div class="text-b">
                <h2 class="title niu-font">
                    更轻的电池包重量<br>减重，从电池的重量开始
                </h2>
                <p class="content">
                    同等电池容量的情况下，负重越轻，会让续航里程变得越远。全新的小牛电动 N1S 依然采用原装进口松下/LG/三星高性能锂电池，单节电芯能量密度增加40%，不增加整包电池重量，相比传统铅酸电池，重量大幅缩减，这一切进步都让小牛电动跑得更轻快，续航更长。
                </p>
                <ul class="circle-list clearfix">
                    <li>
                        <h3 class="c-tit">
                            超轻重量
                        </h3>
                        <p class="c-cont niu-num">
                            <span class="">10</span> KG<sup>*</sup>
                        </p>
                    </li>
                    <li>
                        <h3 class="c-tit">
                            超小体积
                        </h3>
                        <p class="c-cont niu-num">
                            <span class="">8.4</span> L
                        </p>
                    </li>
                </ul>
                <p class="info">
                    * 电池重量受电芯品牌影响，产品实物可能与参数有细微差别，请以实物为准。
                </p>
            </div>
        </div>
    </div>
    <div class="section section-core">
        <h2 class="title niu-font">
            BOSCH 高效电机省电再升级
        </h2>
        <h4 class="sub-title niu-font">
            节能效率提升 3.7%
        </h4>
        <p class="content">
            这次，德国BOSCH 与小牛联合再次优化电机工作效率，无刷永磁电机再优化调教，采用全新的磁钢设计，优化内部铜线缠绕方式和缠绕密度，各项性能都得到显著提升，能效比提升至92%。
        </p>
        <ul class="circle-list clearfix">
            <li>
                <h3 class="c-tit">
                    转化效率
                </h3>
                <p class="c-cont niu-num">
                    <span class="">92</span>%
                </p>
            </li>
        </ul>
        <div class="many-circles J_manyCircle updown"></div>
        <div class="circle-shadow J_manyShadow bigsml"></div>
    </div>
    <div class="section section-recycle">
        <div class="abs-text">
            <h2 class="title niu-font">
                EBS 系统回收刹车动能<br>让续航再增加<span class='niu-num'>10%</span>
            </h2>
            <h4 class="sub-title niu-font"></h4>
            <p class="content">
                每次刹车都会有动能被损耗，这种尚未被利用的潜能被刹车能量回收系统充分收集采用。小牛电动在刹车过程中，将滑行过程动能重新转化为电能，给锂电池充电，这种智能动力管理意味着能量损失会被降至更低，提高电量使用的效率，提供更远的续航，这是小牛电动 EBS 系统高效的经典表现。
            </p>
        </div>
        <div class="motor-block">
            <div class="img-a img"></div>
            <div class="img-b img roundpath"></div>
            <div class="img-b img roundpathDelay "></div>
            <div class="img-b img roundpathDelay3 "></div>
            <div class="img-c  img"></div>
            <div class="img-d img zoomBig"></div>
            <div class="img-e img zoomBig"></div>
        </div>
    </div>
    <div class="section section-continue white">
        <div class="abs-text">
            <h2 class="title niu-font">
                收集近亿公里骑行数据<br>基于大数据优化续航
            </h2>
            <p class="content">
                不同的骑行习惯、加速方式会以不同速率消耗电能，从而对续航里程产生影响。在收集了近亿公里的用户骑行数据、300万小时的驾驶习惯后，小牛电动再次优化电控参数调教。将10万用户的操作曲线进行分析，在数据模型的运算之下，成功拟合一套更符合真实驾驶习惯的参数配置，进而让 120KM<sup>*</sup> 续航得以实现。
            </p>
            <ul class="num-list clearfix">
                <li>
                    <h3 class="c-tit">
                        骑行时间
                    </h3>
                    <p class="c-cont niu-num  cont-center">
                        <span class="">3694527.8</span>H
                    </p>
                </li>
                <li>
                    <h3 class="c-tit">
                        骑行公里
                    </h3>
                    <p class="c-cont niu-num">
                        <span class="">91984812.3</span>KM
                    </p>
                </li>
            </ul>
            <div class="info">
                *都市版N1S在选配 34ah 电池后，在骑行者 50kg，室外温度25°，20km/h 的情况下，匀速不间断骑行的情况下实测可达 120km 的续航。实际续航受载重、温度、风速、路面、操作习惯情况等多种因素影响。
            </div>
        </div>
        <div class="move-back step-back J_moveImg"></div>
    </div>
    <div class="section section-monster">
        <h2 class="title niu-font">
            是长跑健将，还是性能怪兽？
        </h2>
        <h4 class="sub-title niu-font">
            3档动力可调，轻松切换更远或更快
        </h4>
        <p class="content">
            不同环境下，N1S 会展现出不同的性能特点。更长的续航或者更酣畅的骑行体验，<br>由你所选，不同的乐趣，在骑行中才能慢慢体会。
        </p>
        <div class="monster-img"></div>
        <ul class="spces-list">
            <li>
                <h3 class="spe-title niu-num">
                    <span class="num J_cityPro">124</span>KM
                </h3>
                <p class="spe-cont">
                    都市版<br>搭配增程电池
                </p>
            </li>
            <li>
                <h3 class="spe-title niu-num">
                    <span class="num J_sportPro">118</span>KM
                </h3>
                <p class="spe-cont">
                    动力版<br> 搭配增程电池
                </p>
            </li>
            <li>
                <h3 class="spe-title niu-num">
                    <span class="num J_top">120</span>KM<sup>*</sup>
                </h3>
                <p class="spe-cont">
                    顶配版<br> 原装电池包
                </p>
            </li>
            <li>
                <h3 class="spe-title niu-num">
                    <span class="num J_sport">98</span>KM
                </h3>
                <p class="spe-cont">
                    动力版<br> 原装电池包
                </p>
            </li>
            <li>
                <h3 class="spe-title niu-num">
                    <span class="num J_city">75</span>KM
                </h3>
                <p class="spe-cont">
                    都市版<br>原装电池包
                </p>
            </li>
        </ul>
        <div class="option-block clearfix">
            <div class="option ">
                <div class="df-block J_scrollChose">
                    车速 <span class="space J_rate">20 KM/h</span> <span class='down'></span>
                </div>
                <ul class="list-block ">
                    <li>
                        20 KM/h
                    </li>
                    <li>
                        35 KM/h <sup>*</sup>
                    </li>
                    <li>
                        45 KM/h <sup>*</sup>
                    </li>
                </ul>
            </div>
            <div class="option ">
                <div class="df-block J_scrollChose">
                    载重 <span class="space J_kg">50 KG</span> <span class='down'></span>
                </div>
                <ul class="list-block ">
                    <li>
                        50 KG
                    </li>
                    <li>
                        70 KG
                    </li>
                    <li>
                        90 KG
                    </li>
                </ul>
            </div>
            <div class="option ">
                <div class="df-block J_scrollChose">
                    温度 <span class="space J_du">10 °</span> <span class='down'></span>
                </div>
                <ul class="list-block">
                    <li>
                        -10 °
                    </li>
                    <li>
                        0 °
                    </li>
                    <li>
                        10 °
                    </li>
                    <li>
                        25 °
                    </li>
                    <li>
                        40 °
                    </li>
                </ul>
            </div>
        </div>

        <p class="info">
            *小牛电动出厂设置了符合国家标准的时速限制：20km/h。单纯从技术的角度来看，博世电机能提供的最高时速可达
            38km/h- 50km/h。<br>
            *以上数据为在理想状况下，连续不间断骑行所能达到的续航里程。小牛电动符合国家20KM/H 的限速要求。温度指电池包温度<br>
            * 本页面中数据，如无特殊说明，均出自我司实验室测试。数据可能因客观环境改变，存在误差。
        </p>
        <p class="info ">
        </p>
    </div>
    <div class="section-info">
    </div>
    <div class="section-footer">
        <div class="car-img white"></div>
        <div class="abs-text">
            <h2 class="title">
                下一篇 &nbsp;&nbsp;&nbsp;&nbsp;<a href='/n1s/easy'> 更轻巧的操控</a>
            </h2>
            <p class="sub-title">
                <a href="http://www.niu.com/doc/N1S">说明书 &gt; </a>
            </p>
        </div>
    </div>
</div>

}

@section FooterLink_Script{
    
<script type="text/javascript" src="//dn-bughd-web.qbox.me/bughd.min.js" crossorigin="anonymous"></script>
<script type="text/javascript">
    window.bughd = window.bughd || function () { };
    bughd("create", { key: "ec0399cd9efd19e4ed66a94c56fd4bc6" });
</script>
<script type="text/javascript" src="//store.niucache.com/static/common/common_00b45ee5.js"></script>
<script type="text/javascript" src="//store.niucache.com/static/store/widget/products/util/scrollTarget_5f008e6e.js"></script>
<script type="text/javascript" src="//store.niucache.com/static/store/widget/products/n1s/common_ba134f8e.js"></script>
<script type="text/javascript" src="//store.niucache.com/static/store/widget/products/util/util_4a0178fa.js"></script>
<script type="text/javascript" src="//store.niucache.com/static/store/widget/products/n1s/index_69bda5ab.js"></script>
<script type="text/javascript" src="//store.niucache.com/static/store/widget/products/n1s/header_70eb968b.js"></script>
<script type="text/javascript">
    !function () {

        require.async("common:widget/header2/header.js");
        require.async("common:widget/headerCart/headerCart.js");
        require.async("common:widget/headerUserStatus/headerUserStatus.js");
    }();
    !function () {
        require.async('store:widget/products/n1s/header.js', function (md) {
            md();
        });
    }();
    !function () {
        require.async('store:widget/products/n1s/index.js', function (md) {
            md();
        });
    }();
    !function () {
        require.async("common:widget/footer/footer.js");
    }();</script>

}












    




   







