@{
    ViewBag.Title = "U1";
    Layout = "~/Views/Shared/New_Layout.cshtml";
}

@section HeadScript_Link{
    <link rel="stylesheet" href="/Content/U1/css/common_87417f32.css" />
<link rel="stylesheet" href="/Content/U1/css/index_52e711df.css" />
<link rel="stylesheet" href="/Content/U1/css/navbar_36c22b64.css" />
<link rel="stylesheet" href="/Content/U1/css/common_a4de9095.css" />

}

@section HeadLink{
<link rel="stylesheet" id="header_links" type="text/css" href="/Content/U1/css/style_1eb974a3.css" />
    }

@section Body{
    <input type="hidden" class="J_niufont" data-class="niu-font" value="PingFangRegular">
<input type="hidden" class='J_niufont' data-class='niu-num-font' value='DINOffcPro-Bold'>
<span class='hide niu-font'>
    ABCDEFGHIJKLM概述技术设计参数购买产品使用说明书
    NOPQRSTUVWXYZ
    abcdefghijklm
    nopqrstuvwxyz
    1234567890%
</span>
<span class='hide niu-num-font'>
    ABCDEFGHIJKLM
    NOPQRSTUVWXYZ
    abcdefghijklm
    nopqrstuvwxyz
    1234567890%
</span>
<div class="miniNavContent absolute">
    <nav class="miniNav ">
        <a class="miniNav-down icon-below" href="javascript:;"></a>
        <a class="nav-logo" href="javascript:;"></a>
        <div class="miniNav-menu">
            <a class="nav-link active niu-font" href="/u1/">概述</a>
            <a class="nav-link  niu-font" href="/u1/tech/">技术</a>
            <a class="nav-link  niu-font" href="/u1/design/">设计</a>
            <a class="nav-link  niu-font" href="/u1/params/">参数</a>
            <a class="nav-link  niu-font" href="/doc/u1/" target="_blank">说明书</a>
        </div>
        <a class="nav-btn" href="http://store.niu.com/buy/u1" target="_blank"><span class=" niu-font">购买</span></a>
        <div class="miniNav-mask"></div>
    </nav>

</div>
<div class="u1-index niu-font">

    <section class="block sec1 ">
        <div class="sec1-brand z10" offset-top="424" offset-center="249px"></div>
    </section>

    <section class="block sec2">
        <p class="sec2-p1">为上牌*定制的好车</p>
        <p class="sec2-p2">小牛电动U1是一台依据国标进行设计开发的电动车，60公里*的续航，仅重5公斤的电池，同时满足了你对品质耐用、防盗报警、丰富置物空间的要求，为你的生活带来更多实用和便利。</p>
        <div class="sec2-v1 J_openVideo" data-type="1" data-src="/Content/U1/img/u1-1-v-.mp4" offset-center="-600px" offset-top="295px">

            <span>观看用户影片<i class="icon-play"></i></span>
        </div>
        <div class="sec2-v2 J_openVideo" data-type="2" data-src="/Content/U1/img/u1-2-v-.mp4" offset-center="0" offset-top="295px">
            <span>观看设计影片<i class="icon-play"></i></span>
        </div>
    </section>

    <section class="block sec3">
        <div class="paddingBlock">
            <div class="secText z10" offset-top="120px" offset-center="-570px" data-950="top: 200px;-webkit-animation-delay:0.5s;" data-1700="top: 120px;-webkit-animation-delay:0.5s;">
                <span class="secText-t1">#出门更方便#</span>
                <span class="secText-t2">不挤地铁，不堵车，<br />出门骑它，就够了。</span>
                <div class="card">
                    <span class="marks">*</span>
                    <span class="card-num niu-num-font">60</span><span class="card-tag niu-num-font">km</span>
                    <span class="card-t niu-font">续航</span>
                </div>
            </div>
            <div class="sec3-img" offset-top="0" offset-right="0" offset-bottom="0" offset-center="-82px"></div>
            <div class="markmore" offset-bottom="90px" offset-center="-570px" data-1600="bottom: 180px;opacity: 0;" data-1800="bottom: 90px;opacity: 1;">
                <p class="niu-font">告别公交和地铁，不再堵车，不再被出门时间和地点所限制，小牛电动U1将为你的生活带来更多便利，出门骑它，就够了。</p>
                <div class="actionCont J_openMore" data-target="sec3">
                    <span class="markmore-circle">∙∙∙<i class="icon-cross"></i></span>
                    <!--
                    -->
                    <span class="markmore-t">展开了解更多</span>
                </div>
            </div>
        </div>
        <section class="blockDetail sec3-blockDetail">
            <div class="blockContent blockContent1">
                <div class="blockDetail-1" offset-center="-667px"></div>
                <div class="blockDetail-2" offset-center="210px" offset-top="128px">
                    <p class="p1">出门距离最多10站地，<br>城市环保出行新方式，骑它就够了。</p>
                    <p class="p2">上下班、去超市买东西、或者出门吃个便饭，仔细想想，我们每天出门最多也就10站地的距离。U1拥有60公里*的续航，现在你骑它出门就完全够用了。纯电力驱动，环保无污染，拥抱自然。</p>
                    <img src="//www.niucache.com/static/home/widget/product_detail/u1/img/1-b1-2_f6d171b0.jpg">
                </div>
            </div>
            <div class="blockContent blockContent2">
                <div class="b1" offset-center="-472px" offset-top="80px"></div>
                <div class="b2" offset-center="-80px" offset-top="150px">
                    <p class="p1">不挤地铁，不堵车，<br>出门就该自己说了算。</p>
                    <p class="p2">还在因为挤不上公交和地铁，忍受难闻的气味感到焦躁吗？你只需要一台U1，就可以告别挤地铁公交的烦躁。出门就该自己说了算，只要你想走，拧下油门，让它随时带你马上开溜。</p>
                </div>
            </div>
            <div class="blockContent blockContent3">
                <div class="b1" offset-center="-667px" offset-top="225px"></div>
                <div class="b2" offset-center="-472px" offset-top="555px">
                    <p class="p1">时间尽在掌握。</p>
                    <p class="p2">随时做到想走就走，实时显示精准时间。<br>骑上U1，准时赴约。</p>
                </div>
                <div class="b3" offset-center="-80px" offset-top="90px"></div>
            </div>
        </section>
    </section>

    <section class="block sec4">
        <div class="paddingBlock">
            <div class="secText r z10" offset-top="120px" offset-center="110px" data-1800="top: 200px;" data-2700="top: 120px;">
                <span class="secText-t1">#更多储物空间#</span>
                <span class="secText-t2">出门的方式不只一种,<br>能干的事也不止一种。</span>
                <div class="card">
                    <span class="card-num niu-num-font">30</span><span class="card-tag niu-font">个</span>
                    <span class="card-t niu-font">改装挂点</span>
                </div>
            </div>
            <div class="sec4-img" offset-left="0" offset-top="232px"></div>
            <div class="markmore r z10" offset-bottom="90px" offset-center="208px" data-2500="bottom: 180px;opacity: 0;" data-2700="bottom: 90px;opacity: 1;">
                <p class="niu-font">U1不仅是轻便的交通工具，它的多样性也同样能帮助多才多能的你。丰富的配件支持，让U1拥有更多置物空间。日常出门，有U1，更方便。</p>
                <div class="actionCont r J_openMore" data-target="sec4">
                    <span class="markmore-t">展开了解更多</span>
                    <!--
                    -->
                    <span class="markmore-circle">∙∙∙<i class="icon-cross"></i></span>
                </div>
            </div>
        </div>
        <section class="blockDetail sec4-blockDetail">
            <div class="blockContent blockContent1">
                <div class="b1" offset-center="-667px" offset-top="135px"></div>
                <div class="b2" offset-center="-80px" offset-top="0"></div>
            </div>
            <div class="blockContent blockContent2">
                <div class="b1" offset-center="111px" offset-top="120px">
                    <p class="p1">出门买东西，车上也有地方放了。</p>
                    <p class="p2">U1车上丰富的置物空间，无论出门去超市购物，还是给孩子送饭，你都可以把它们放在U1上，日常出门更加便利。</p>
                </div>
            </div>
            <div class="blockContent blockContent3">
                <div class="b1" offset-center="-552px" offset-top="0"></div>
                <div class="b2" offset-center="111px" offset-top="52px"></div>
            </div>
            <div class="blockContent blockContent4">
                <div class="b1" offset-center="-472px" offset-top="18px">
                    <p class="p1">30个改装挂点，30种更实在的用途。</p>
                    <p class="p2">U1车身共有30个改装挂点，想更舒适的载人，你可以安装后靠背；想放采购后的购物袋，我们也有前车篮和车身中篮，30种更实在的用途，就看你想怎么用了。</p>
                </div>
            </div>
            <div class="blockContent blockContent5">
                <div class="b1" offset-center="-667px" offset-top="0"></div>
                <div class="b2" offset-center="209px" offset-top="270px"></div>
            </div>
            <div class="blockContent blockContent6">
                <div class="b1" offset-center="-374px" offset-top="130px"></div>
                <div class="b2" offset-center="209px" offset-top="130px">
                    <p class="p1">多种车身颜色，多种精彩生活。</p>
                    <p class="p2">U1车身共有4种不同的颜色，不同的选择，都是因为更出彩的生活。</p>
                </div>
            </div>
        </section>
    </section>

    <section class="block sec5">
        <div class="paddingBlock">
            <div class="secText z10" offset-top="120px" offset-center="-570px" offset-center="110px" data-2800="top: 200px;" data-3700="top: 120px;">
                <span class="secText-t1">#轻巧车身#</span>
                <span class="secText-t2">小到可以进电梯，<br>大到可以坐俩人。</span>
                <div class="card">
                    <span class="card-num niu-num-font">160</span><span class="card-tag niu-num-font">kg</span>
                    <span class="card-t niu-font">承重</span>
                </div>
            </div>
            <div class="sec3-img" offset-top="0" offset-right="0" offset-bottom="0" offset-center="-82px"></div>
            <div class="markmore blue" offset-bottom="90px" offset-center="-570px" data-3500="bottom: 180px;opacity: 0;" data-3700="bottom: 90px;opacity: 1;">
                <p class="niu-font">U1造型轻便，可以轻松推进家用电梯，挪车时也省力。同时，U1的载重也是为载人而设计，还有后脚踏*，怎么舒服怎么来。</p>
                <div class="actionCont J_openMore" data-target="sec5">
                    <span class="markmore-circle">∙∙∙<i class="icon-cross"></i></span>
                    <!--
                    -->
                    <span class="markmore-t">展开了解更多</span>
                </div>
            </div>
        </div>

        <section class="blockDetail sec5-blockDetail">
            <div class="blockContent blockContent1">
                <div class="b1" offset-center="-667px"></div>
                <div class="b2" offset-center="210px" offset-top="128px">
                    <p class="p1">灵活小巧，轻便好搬，<br>进电梯更方便。</p>
                    <p class="p2">U1非常的灵活轻便，甚至你都可以轻松推进家用电梯，随手推回家里。挪车的时候，也会更加灵活轻便，更省力。</p>
                </div>
            </div>
            <div class="blockContent blockContent2">
                <div class="b1" offset-center="-374px" offset-top="203px">
                    <p class="p1">160公斤承重，就是为载人设计的。</p>
                    <p class="p2">U1当然可以载人，别看它小巧，但它结实的车架，足以承重160公斤，后面还有脚踏呢，乘坐舒服，载人绝对不是问题。</p>
                </div>
                <div class="b2" offset-center="80px" offset-top="90px"></div>
            </div>
            <div class="blockContent blockContent3">
                <div class="b1" offset-center="-562px" offset-top="0"></div>
                <div class="b2" offset-center="111px" offset-top="90px"></div>
            </div>
            <div class="blockContent blockContent4">
                <div class="b1" offset-left="50%" offset-center="-375px" offset-top="0"></div>
            </div>
        </section>
    </section>

    <section class="block sec6">
        <div class="paddingBlock">
            <div class="secText r z10" offset-top="120px" offset-center="-8%" offset-center="110px" data-3800="top: 200px;" data-4700="top: 120px;">
                <span class="secText-t1">#随手可提的锂电池#</span>
                <span class="secText-t2">超轻智能锂电池，<br>可顺手提上六楼，回家充电。</span>
                <div class="card">
                    <div class="card-t1">
                        <span class="card-num niu-num-font">5</span>
                        <span class="card-tag niu-num-font">公斤</span>
                        <span class="card-t niu-font">超轻重量</span>
                    </div>
                    <div class="card-t2">
                        <span class="card-num niu-num-font">10</span>
                        <span class="card-tag niu-font">重</span>
                        <span class="card-t niu-font">智能安全保护</span>
                    </div>
                </div>
            </div>
            <div class="sec4-img" offset-left="0" offset-top="232px"></div>
            <div class="markmore r green z10" offset-bottom="90px" offset-center="208px" data-4500="bottom: 180px;opacity: 0;" data-4700="bottom: 90px;opacity: 1;">
                <p class="niu-font">U1的超轻智能锂电池，仅重5公斤，采用优质锂电18650电芯，比传统铅酸电池寿命更长，随车携带的充电器，让电池随处充电。</p>
                <div class="actionCont r J_openMore" data-target="sec6">
                    <span class="markmore-t">展开了解更多</span>
                    <!--
                    -->
                    <span class="markmore-circle">∙∙∙<i class="icon-cross"></i></span>
                </div>
            </div>
        </div>

        <section class="blockDetail sec6-blockDetail">
            <div class="blockContent blockContent1">
                <div class="b1" offset-center="-569px" offset-top="90px" data-3900="top: 200px;" data-4700="top: 120px;">
                    <p class="p1">轻巧，女生也可以提回家充电。</p>
                    <p class="p2">U1锂电池仅重5公斤，女生也可以轻松提起。停车后，你可以轻松把电池提回家充电。拎电池，终于不再像拎哑铃一样沉重了。</p>
                </div>
                <div class="b2" offset-center="-80px" offset-top="0"></div>
                <div class="b3" offset-center="-568px" offset-top="324px"></div>
                <div class="b4" offset-center="209px" offset-top="600px">
                    <p class="p1">比传统铅酸电池寿命更长。</p>
                    <p class="p2">U1锂电池寿命比传统铅酸电池要长的多，而且你不必在电池保养和维护浪费过多资金，放心使用就好。500次完全循环充电后，电池电量还能保持在80%左右。</p>
                </div>
            </div>
            <div class="blockContent blockContent2">
                <div class="b1" offset-center="-569px" offset-top="90px">
                    <p class="p1">智能10重安全防护，安心使用。</p>
                    <p class="p2">关于 U1 的电池安全，你真的没什么好担心的。我们为你提供了一套拥有智能10重安全防护的电池管理系统，保证电池稳定安全的运行。</p>
                </div>
                <div class="b2" offset-center="-667px" offset-top="283px"></div>
                <div class="b3" offset-center="209px" offset-top="283px"></div>
                <div class="b4" offset-center="209px" offset-top="575px">
                    <p class="p1">随处充电，因为随车携带。</p>
                    <p class="p2">U1的充电器非常小巧，甚至可以随车放进座桶中。只要有电源，你就可以提出轻巧的电池，随处充电，为下一段行程蓄势待发。</p>
                </div>
            </div>
        </section>
    </section>

    <section class="block sec7">
        <div class="paddingBlock">
            <div class="secText z10" offset-top="60px" offset-center="-570px" data-4800="top: 150px;" data-5700="top: 60px;">
                <span class="secText-t2"><i class="niu-num-font">60<span class="marks">*</span></i>公里续航，出门完全够用。</span>
                <div class="card">
                    <span class="card-num niu-num-font">NIU<br>Efficient<br>Power</span><br>
                    <span class="card-tag niu-font">高效动力系统</span>
                </div>
            </div>
            <div class="sec-img" offset-right="0" offset-top="180px"></div>
            <div class="markmore orange" offset-bottom="90px" offset-center="-570px" data-5500="bottom: 180px;opacity: 0;" data-5700="bottom: 90px;opacity: 1;">
                <p class="niu-font">U1拥有60公里*的续航能力，出门去个超市，日常上下班，或者接送孩子放学，完全够用了。日常的出行半径不需要多大，一台U1就够了。</p>
                <div class="actionCont J_openMore" data-target="sec7">
                    <span class="markmore-circle">∙∙∙<i class="icon-cross"></i></span>
                    <!--
                    -->
                    <span class="markmore-t">展开了解更多</span>
                </div>
            </div>
        </div>

        <section class="blockDetail sec7-blockDetail">
            <div class="blockContent blockContent1">
                <div class="b1" offset-center="-959px" offset-top="0"></div>
                <div class="b2" offset-center="14px" offset-top="230px">
                    <p class="p1">为小牛电动专属定制动力系统，<br>合适，才能跑的远。</p>
                    <p class="p2">小牛电动参与了动力系统的联合研发，从电机到控制器再到动能回收系统，精准调校每一个结构，最终实现了NIU Efficient Power高效动力系统，我们坚信，只有适合小牛电动的动力系统，才能跑的更远。</p>
                </div>
            </div>
            <div class="blockContent blockContent2">
                <div class="b1" offset-center="-375px" offset-left="50%" offset-top="0"></div>
            </div>
            <div class="blockContent blockContent3">
                <div class="b1" offset-center="-278px" offset-left="50%" offset-top="60px">
                    <p class="p1">高效、省电的电机，<br>让目的地再远一点。</p>
                    <p class="p2">小牛电动联合研发U1无刷永磁电机，完善了动力系统关键部件的研发，保证电机在提供充足动力的同时减少电能损失，电机转化率高达92.6%，充分利用每一分电能，让目的地再远一点。</p>
                </div>
            </div>
        </section>
    </section>

    <section class="block sec8">
        <div class="paddingBlock">
            <div class="secText r z10" offset-top="120px" offset-center="110px" data-5800="top: 200px;" data-6700="top: 120px;">
                <span class="secText-t1">#防盗报警#</span>
                <span class="secText-t2">车辆防盗，手机报警。</span>
                <div class="sec8card">
                    <div class="card-t1">
                        <span class="card-num niu-font">全新<i class="niu-num-font">6</i>轴</span>
                        <span class="card-t niu-font">异动报警</span>
                    </div>
                    <div class="card-t2">
                        <span class="card-num niu-num-font">GPS</span>
                        <span class="card-t niu-font">实时定位</span>
                    </div>
                    <div class="card-t3">
                        <span class="card-num niu-num-font">APP</span>
                        <span class="card-t niu-font">手机连接</span>
                    </div>
                </div>
            </div>
            <div class="sec-img" offset-top="0" offset-bottom="0"></div>
            <div class="markmore r blue z10" offset-bottom="90px" offset-center="276px" data-6500="bottom: 180px;opacity: 0;" data-6700="bottom: 90px;opacity: 1;">
                <p class="niu-font">
                    全新的六轴传感器，让U1防盗更加灵敏。
                    一款能连U1的小牛管家手机应用，随时获知它的一举一动。
                </p>
                <div class="actionCont r J_openMore" data-target="sec8">
                    <span class="markmore-t">展开了解更多</span>
                    <!--
                    -->
                    <span class="markmore-circle">∙∙∙<i class="icon-cross"></i></span>
                </div>
            </div>
        </div>
        <section class="blockDetail sec8-blockDetail">
            <div class="blockContent blockContent1">
                <div class="b1" offset-top="0"></div>
            </div>
            <div class="blockContent blockContent2">
                <div class="b1" offset-center="-283px" offset-top="90px"></div>
                <div class="b2" offset-center="-82px" offset-top="103px">
                    <p class="p1">全新“6轴”异动报警方案，<br>24小时快速灵敏监控。</p>
                    <p class="p2">U1新加入了六轴传感器，将实时检测车辆的异动状态，当你的U1被人挪动或者发生倾倒时，小牛管家手机应用将会在第一时间为你发送报警提醒。</p>
                </div>
            </div>
            <div class="blockContent blockContent3">
                <div class="b1" offset-center="-472px" offset-top="66px">
                    <p class="p1">GPS实时定位，永远知道它在哪里。</p>
                    <p class="p2">在手机上，通过小牛管家手机应用，你可以随时知道U1的位置，减少见不到车的焦虑。放心吧，无论U1在哪里，你都会知道。</p>
                </div>
                <div class="b2" offset-center="14px" offset-top="0"></div>
            </div>
            <div class="blockContent blockContent4">
                <div class="b1" offset-top="185px" offset-center="-411px">
                    <a href="javascript:;"><img src="//www.niucache.com/static/home/widget/product_detail/u1/img/1-b1-27_2ba16ff8.png"></a>
                    <a href="http://www.niu.com/download/qrcode?platform=ios" target="_blank"><img class="hashover" src="//www.niucache.com/static/home/widget/product_detail/u1/img/1-b1-28_6bb80d24.png"></a>
                    <a href="http://www.niu.com/download/qrcode?platform=android" target="_blank"><img class="hashover" src="//www.niucache.com/static/home/widget/product_detail/u1/img/1-b1-29_8aedba31.png"></a>
                </div>
                <div class="b2" offset-center="111px" offset-top="150px">
                    <p class="p1">小牛管家手机应用</p>
                    <p class="p2">小牛管家手机应用，从手机上了解Ｕ1的状态，比如还能跑多远，它停在哪里等等，同时还可以为你及时推送车辆的报警提醒。</p>
                </div>
                <div class="b3" offset-top="443px" offset-center="-255px"></div>
                <div class="b4" offset-center="-82px" offset-top="440px">
                    <p class="p1">热心牛油寻车记</p>
                    <p class="p2">还有许多牛油自发组织利用GPS定位帮失主找车抓小偷，不信？<a href="http://bbs.niu.com/thread-101311-1-1.html" target="_blank">去论坛看看<i class="icon-right"></i></a></p>
                </div>
            </div>
        </section>
    </section>

    <section class="block sec9">
        <div class="paddingBlock">
            <div class="secText" offset-top="120px" offset-center="-570px" data-6800="top: 200px;" data-7700="top: 120px;">
                <span class="secText-t1">#人车保障服务#</span>
                <span class="secText-t2">定位防盗还不放心？ “你丢车，我来赔。”</span>
                <div class="card">
                    <span class="card-num niu-num-font"></span>
                    <span class="card-t niu-font">牛油保</span>
                </div>
            </div>
            <div class="markmore" offset-bottom="90px" offset-center="-570px" data-7500="bottom: 180px;opacity: 0;" data-7700="bottom: 90px;opacity: 1;">
                <p class="niu-font">尽管我们已经为你在安全方面做得很周到，拥有行业首创人、车、盗抢的全方位保障，但依然希望你永远用不上它。</p>
                <div class="actionCont J_openMore" data-target="sec9">
                    <span class="markmore-circle">∙∙∙<i class="icon-cross"></i></span>
                    <!--
                    -->
                    <span class="markmore-t">展开了解更多</span>
                </div>
            </div>
        </div>

        <section class="blockDetail sec9-blockDetail">
            <div class="blockContent blockContent1">
                <div class="b1" offset-center="-522px" offset-top="72px"></div>
                <div class="b2" offset-center="0" offset-top="152px">
                    <p class="p1">“丢一台，赔一台"<br>我们有行业首创的人车保障服务--牛油保</p>
                    <p class="p2">
                        “牛油保”是全面覆盖人、车、车辆盗抢三大方面的安全保险。无论是车辆被盗，还是发生驾驶意外，我们都为您准备了完善的解决方案。
                        <br><br>当然，尽管我们已经准备了如此靠谱的保障，我们还是希望您不会用上它。
                    </p>
                </div>
            </div>
            <div class="blockContent blockContent2">
                <div class="b1" offset-center="-375px" offset-left="50%" offset-top="0"></div>
            </div>
            <div class="blockContent blockContent3">
                <div class="b1" offset-center="-374px" offset-top="90px">
                    <p class="p1">与中国平安、中国人寿保险，<br>强强合作，放心无忧。</p>
                    <p class="p2">牛油保是与中国平安、中国人寿两家中国行业领先的保险公司合作，这下，你还有什么好担心的呢？</p>
                    <p class="p2"><a href="http://www.niu.com/niucover" target="_blank">了解更多牛油保详情<i class="icon-right"></i></a></p>
                </div>
            </div>
        </section>
    </section>

    <section class="block sec10">
        <div class="sec10-t" offset-center="208px" offset-top="192px" data-7800="top: 280px;" data-8600="top: 192px;">
            <p class="p1">无钥匙启动，<br>现已就绪。</p>
            <p class="p2">
                U1采用了全新无钥匙启动，现已为你准备就绪。
                按下一键启动按键，马上开溜。
            </p>
        </div>
    </section>

    <section class="block sec11">
        <div class="sec-img" offset-center="-585px">
            <p class="p1">更多实用配件，U1的天作之合。</p>
            <p class="p2">U1拥有丰富的配件支持，无论是车篮，还是后靠背，</p>
            <p class="p3">将让你的生活更加便利。<a href="http://store.niu.com" target="_blank">查看配件<i class="icon-right"></i></a></p>
        </div>
    </section>

</div>
}

@section FooterLink_Script{
<script type="text/javascript" src="//dn-bughd-web.qbox.me/bughd.min.js" crossorigin="anonymous"></script>
<script type="text/javascript">
    window.bughd = window.bughd || function () { };
    bughd("create", { key: "ec0399cd9efd19e4ed66a94c56fd4bc6" });
</script>

<script type="text/javascript" src="//www.niucache.com/static/common/common_00b45ee5.js"></script>
<script type="text/javascript">require.resourceMap({ "res": { "home:widget/product_detail/u1/widget/videojs-ie8.js": { "url": "//www.niucache.com/static/home/widget/product_detail/u1/widget/videojs-ie8_a4e7d415.js" }, "home:widget/product_detail/u1/skrollr.js": { "url": "//www.niucache.com/static/home/widget/product_detail/u1/skrollr_6eb05f7d.js" }, "home:widget/product_detail/u1/common.js": { "url": "//www.niucache.com/static/home/widget/product_detail/u1/common_1affad78.js", "deps": ["home:widget/product_detail/u1/widget/scrollTarget.js"] }, "home:widget/product_detail/u1/jquery-scrolltofixed.js": { "url": "//www.niucache.com/static/home/widget/product_detail/u1/jquery-scrolltofixed_3ba4356c.js" } }, "pkg": {} });</script>
<script type="text/javascript" src="//www.niucache.com/static/home/widget/product_detail/u1/widget/video_1ff2cebf.js"></script>
<script type="text/javascript" src="//www.niucache.com/static/home/widget/product_detail/u1/widget/scrollTarget_415ea767.js"></script>
<script type="text/javascript" src="//www.niucache.com/static/home/widget/product_detail/u1/index_2057a6cb.js"></script>
<script type="text/javascript">
    !function () {

        require.async("common:widget/header2/header.js");
        require.async("common:widget/headerCart/headerCart.js");
        require.async("common:widget/headerUserStatus/headerUserStatus.js");
    }();
    !function () {
        require.async("home:widget/product_detail/u1/widget/videojs-ie8.js");
        require.async('home:widget/product_detail/u1/common.js', function (init) {
            init({
                insert: '.sec11',
                text1: '了解U1的技术',
                text2: '了解U1的设计',
                img1: '//www.niucache.com/static/home/widget/product_detail/u1/img/1-sec12-1_3e5e6afe.jpg',
                img2: '//www.niucache.com/static/home/widget/product_detail/u1/img/2-sec13_b8cd8e5c.jpg',
                link1: '/u1/tech',
                link2: '/u1/design'
            })
        });
        require.async(["home:widget/product_detail/u1/jquery-scrolltofixed.js", 'home:widget/product_detail/u1/index.js']);
    }();
    !function () {
        require.async("common:widget/footer/footer.js");
    }();</script>
}